/* ------------------- Code Themes ------------------ */

.hljs {
	color: var(--hl);
}

.hljs-comment {
	color: var(--hl-0);
	font-style: italic;
}

.hljs-quote {
	color: var(--hl-1);
	font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
	color: var(--hl-2);
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
	color: var(--hl-3);
}

.hljs-literal {
	color: var(--hl-4);
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
	color: var(--hl-5);
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
	color: var(--hl-6);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
	color: var(--hl-7);
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
	color: var(--hl-8);
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}

.hljs-link {
	text-decoration: underline;
}

.hljs a.code-link {
	color: inherit;
}
a.code-link::before {
	content: '';
	width: 1.0714em; /* 15px when font-size is 14px */
	height: 1.0714em;
	display: inline-block;
	background: currentColor;
	-webkit-mask: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 2.5H3.5C2.94772 2.5 2.5 2.94772 2.5 3.5V11.5C2.5 12.0523 2.94772 12.5 3.5 12.5H11.5C12.0523 12.5 12.5 12.0523 12.5 11.5V8.5M9.5 2.5H12.5M12.5 2.5V5.5M12.5 2.5L6.5 8.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"/></svg>')
		no-repeat 50% 50%;
	mask: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 2.5H3.5C2.94772 2.5 2.5 2.94772 2.5 3.5V11.5C2.5 12.0523 2.94772 12.5 3.5 12.5H11.5C12.0523 12.5 12.5 12.0523 12.5 11.5V8.5M9.5 2.5H12.5M12.5 2.5V5.5M12.5 2.5L6.5 8.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"/></svg>')
		no-repeat 50% 50%;
	-webkit-mask-size: cover;
	mask-size: cover;
	vertical-align: -0.142em; /* 2px when font-size is 14px */
	margin-right: 0.142em;
}
