/* ------------------- Code Themes ------------------ */

.hljs {
	color: var(--hl);
}

.hljs-comment {
	color: var(--hl-0);
	font-style: italic;
}

.hljs-quote {
	color: var(--hl-1);
	font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
	color: var(--hl-2);
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
	color: var(--hl-3);
}

.hljs-literal {
	color: var(--hl-4);
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
	color: var(--hl-5);
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
	color: var(--hl-6);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
	color: var(--hl-7);
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
	color: var(--hl-8);
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}

.hljs-link {
	text-decoration: underline;
}
