.on-the-canvas-card {
	position: absolute;
	width: 200px;
	padding: 12px;
	border-radius: 8px;
	user-select: unset;
	box-shadow:
		0 0 0 1px rgba(0, 0, 0, 0.1),
		0 4px 8px rgba(0, 0, 0, 0.1);
}

.in-front-of-the-canvas-card {
	position: absolute;
	border-radius: 8px;
	padding: 0 10px;
	background: #efefef;
	box-shadow:
		0 0 0 1px rgba(0, 0, 0, 0.1),
		0 4px 8px rgba(0, 0, 0, 0.1);
}
