.tooltip {
	font-size: 12px;
	padding: 6px 12px;
	border-radius: 8px;
	background-color: var(--tla-color-tooltip);
	border: 1px solid var(--color-text-1);
	box-shadow: none;
	color: var(--color-selected-contrast);
	animation-name: fade-in;
	animation-duration: 0.1s;
}

.tooltipArrow {
	fill: var(--tla-color-tooltip);
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
