.sidebar {
	position: absolute;
	display: flex;
	top: 0px;
	left: calc(var(--tla-sidebar-width) * -1);
	height: 100%;
	width: var(--tla-sidebar-width);
	z-index: 100;
	transform: translate(0px, 0px);
	flex-direction: column;
	flex: 0 0 auto;
	padding: 3px 12px 0px 12px;
	background: var(--tla-color-sidebar);
	border-right: 1px solid transparent;
	transition: transform 0.16s ease-in-out;
}

.sidebarDragOverlay {
	position: absolute;
	inset: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: 600;
	z-index: 1000;
	background-color: var(--tla-color-sidebar);
	content: 'Upload .tldr files';
	opacity: 0;
	animation: 0.2s fade-in 0.25s forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.sidebarOverlayMobile {
	all: unset;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: var(--tla-color-overlay);
	display: none;
}

@media (min-width: 768px) {
	.sidebar {
		border-right: 1px solid var(--tl-color-low);
	}
	.sidebar[data-visible='true'] {
		transform: translate(100%, 0px);
		transition: transform 0.22s ease-out;
	}
}

@media (max-width: 767px) {
	.sidebar {
		--w: min(320px, max(220px, calc(100vw - 100px)));
		left: calc(var(--w) * -1);
		width: var(--w);
		transition: none;
	}

	.sidebar[data-visiblemobile='true'] {
		transform: translate(100%, 0px);
	}

	.sidebarOverlayMobile[data-visiblemobile='true'] {
		display: block;
	}
}

.sidebarContent {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 40px;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.sidebarContent::-webkit-scrollbar {
	display: none;
}

/* -------------------- Hoverable ------------------- */

.hoverable::after {
	display: block;
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	right: 0px;
	bottom: 2px;
	border-radius: 4px;
	background-color: var(--tla-color-hover-1);
	z-index: 0;
	pointer-events: none;
	visibility: hidden;
}

.hoverable:has(*[data-state='open'])::after,
.hoverable[data-active='true']::after {
	background-color: var(--tla-color-hover-2);
	visibility: visible;
}

.hoverable:has(*[data-state='open']) .collaborator {
	display: none;
}

@media (hover: hover) {
	.hoverable:hover::after {
		visibility: visible;
	}

	.hoverable {
		color: var(--tla-color-text-2);
	}
	.hoverable[data-active='true'],
	.hoverable:hover {
		color: var(--tla-color-text-1);
	}
}

/* ----------------- Sidebar toggle ----------------- */

.sidebarToggle {
	position: relative;
	background: none;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
	color: var(--tla-color-text-1);
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: all;
	flex-shrink: 0;
	padding: 0px;
}

.sidebarToggle::after {
	display: block;
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	border-radius: 4px;
	pointer-events: none;
	z-index: 0;
	visibility: hidden;
	background-color: var(--tla-color-hover-1);
}

.sidebarToggle:focus-visible {
	border-radius: 8px;
	outline-offset: -4px;
	outline: 2px solid var(--tl-color-focus);
}

@media (hover: hover) {
	.sidebarToggle:hover {
		z-index: 100;
	}

	.sidebarToggle:hover::after {
		visibility: visible;
	}
}

.sidebarToggle[data-mobile='true'] {
	display: flex;
}

.sidebarToggle[data-mobile='false'] {
	display: none;
}

@media (min-width: 768px) {
	.sidebarToggle[data-mobile='true'] {
		display: none;
	}

	.sidebarToggle[data-mobile='false'] {
		display: flex;
	}
}

/* --------------------- Top area -------------------- */

.sidebarTopRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 0 0 auto;
}

/* Workspace link (sort of) */

.sidebarWorkspaceButton {
	background: none;
	border: none;
	position: relative;
	height: 40px;
	flex-grow: 2;
	display: flex;
	align-items: center;
	padding-right: 6px;
	padding-left: 8px;
	background-color: var(--tla-color-sidebar);
	overflow: hidden;
	padding-bottom: 1px;
}

.sidebarWorkspaceButtonLabel {
	/* for alignment with other buttons */
	display: block;
	flex-grow: 2;
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 0px;
	position: relative;
	z-index: 1;
}

/* Create file button */

.sidebarCreateFileButton {
	background: none;
	border: none;
	cursor: pointer;
	position: relative;
	top: 0.5px;
	right: -10px;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--tla-color-text-1);
	flex-shrink: 0;
	padding: 0px;
	z-index: 10;
}

.sidebarCreateFileButton::after {
	display: block;
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	border-radius: 4px;
	pointer-events: none;
	z-index: 0;
	visibility: hidden;
	background-color: var(--tla-color-hover-1);
}

.sidebarCreateFileButton:focus-visible {
	border-radius: 8px;
	outline-offset: -4px;
}

@media (hover: hover) {
	.sidebar:hover .sidebarCreateFileButton:hover::after {
		visibility: visible;
	}
}

/* ------------------- Bottom area ------------------ */

.sidebarBottomArea {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	margin-top: 0px;
}

/* ------------------- Bottom row ------------------- */

.sidebarBottomRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 0 0 auto;
}

/* User settings menu */

.sidebarUserSettingsTrigger {
	background: none;
	border: none;
	position: relative;
	height: 40px;
	flex-grow: 2;
	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 6px;
	padding-left: 2px;
	padding: 0px 0px 0px 8px;
	gap: 0px;
	text-align: left;
	cursor: pointer;
}

.sidebarUserSettingsTrigger:focus-visible {
	border-radius: 10px;
	outline-offset: -5px;
}

.sidebarUserSettingsTrigger::after {
	inset: 2px 8px 2px 0px;
}

.sidebarUserSettingsName {
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sidebarUserSettingsIcon {
	margin-right: 16px;
	color: var(--tla-color-text-3);
}

@media (hover: hover) {
	.sidebarUserSettingsTrigger:hover {
		color: var(--tla-color-text-1);
	}

	.sidebarUserSettingsIcon {
		color: var(--tla-color-text-3);
		visibility: hidden;
	}

	.sidebarUserSettingsTrigger:hover .sidebarUserSettingsIcon {
		visibility: visible;
		color: var(--tla-color-text-1);
	}
}

.sidebarUserSettingsTrigger[data-state='open']::after {
	visibility: visible;
}

.sidebarUserSettingsTrigger[data-state='open'] .sidebarUserSettingsIcon {
	visibility: visible;
}

/* Help menu */

.sidebarHelpMenuTrigger {
	height: 28px;
	width: 28px;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	border: none;
	color: var(--tla-color-text-3);
	background: none;
	margin-right: -2px;
}

.sidebarHelpMenuTrigger::after {
	border-radius: 100%;
	inset: 4px;
	visibility: visible;
	border: 1px solid var(--tla-color-border);
	background-color: transparent;
}

@media (hover: hover) {
	.helpMenuTrigger:hover::after {
		background-color: var(--tla-color-hover-1);
	}
}

.sidebarHelpMenuTrigger[data-state='open']::after {
	background-color: var(--tla-color-hover-1);
	visibility: visible;
}

.sidebarHelpMenuTrigger:focus-visible {
	outline-offset: 2px;
}

/* ---------------- File link section --------------- */

.sidebarFileSectionWrapper {
	padding-top: 8px;
}

.sidebarFileSection {
	background: var(--tla-color-sidebar);
}

.sidebarFileSectionTitle {
	position: relative;
	width: 100%;
	height: 36px;
	padding: 0px 8px 0px 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	gap: 4px;
	font-weight: bold;
	color: var(--tla-color-text-3);
}

.sidebarFileSectionTitlePadding span[role='img'] {
	margin-bottom: 1px;
}

/* ------------------- File links ------------------- */

.sidebarFileListItem {
	background-color: var(--tla-color-sidebar);
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 36px;
	padding: 0px 8px 0px 8px;
}

.sidebarFileListItem[data-active='true'][data-enhanced-a11y-mode='true'] {
	border-radius: 4px;
	outline: 2px solid var(--tl-color-text);
	outline-offset: -2px;
}

.sidebarFileListItemContent {
	flex: 1 1 auto;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
	position: relative;
	pointer-events: none;
	z-index: 2;
}

.sidebarFileListItemLabel {
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 0px;
	position: relative;
	z-index: 1;
	padding: 0px;
	flex: 0 1 auto;
}

.sidebarFileListItemRenameInputWrapper {
	background-color: var(--tla-color-sidebar);
	outline: 1px solid var(--tl-color-primary);
	outline-offset: -2px;
	border-radius: 6px;
}

.sidebarFileListItemRenameInputWrapper > div {
	height: 36px;
	padding: 0px 8px 0px 8px;
}

.sidebarFileListItemRenameInput {
	height: 36px;
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	z-index: 1;
}

.sidebarFileListItemButton {
	padding: 0px;
	background: none;
	border: none;
	position: absolute;
	top: 0px;
	left: 3px;
	width: calc(100% - 6px);
	height: 100%;
	cursor: pointer;
	z-index: 2;
	pointer-events: all;
}

.sidebarFileListItemButton:focus-visible {
	border-radius: 4px;
	outline-offset: 0px;
}

.sidebarFileListItemMenuTrigger {
	padding: 0px;
	background: none;
	border: none;
	position: relative;
	outline: none;
	margin-right: -10px;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--tla-color-text-3);
	flex: 0 0 auto;
	z-index: 3;
	cursor: pointer;
}

.sidebarFileListItemMenuTrigger:focus-visible {
	border-radius: 8px;
	outline-offset: -4px;
}

@media (hover: hover) {
	.sidebarFileListItemMenuTrigger {
		display: none;
	}
	/*
		For guest files we show a guest icon at the end of the filename
		but we don't want it to jump out of the way when the user hovers
	*/
	.sidebarFileListItem[data-is-own-file='false'] .sidebarFileListItemMenuTrigger {
		visibility: hidden;
		display: flex;
	}
	:global(.tla:has(.tl-container__focused:not(.tl-container__no-focus-ring)))
		.sidebarFileListItemMenuTrigger {
		visibility: visible;
		display: flex;
	}

	.sidebarFileListItem .sidebarFileListItemMenuTrigger[data-state='open'],
	.sidebarFileListItem:hover .sidebarFileListItemMenuTrigger {
		visibility: visible;
		display: flex;
	}

	.sidebarFileListItemMenuTrigger:hover {
		color: var(--tla-color-text-1);
	}
}

/* Renaming */

.sidebarFileLinkRenameInputWrapper {
	background-color: var(--tla-color-sidebar);
	outline: 1px solid var(--tl-color-primary);
	outline-offset: -2px;
	border-radius: 6px;
}

.sidebarFileLinkRenameInputWrapper > div {
	height: 36px;
	padding: 0px 8px 0px 8px;
}

.sidebarFileLinkRenameInput {
	height: 36px;
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	z-index: 1;
}

/* Guest badge */

.sidebarFileListItemGuestBadge {
	display: inline-flex;
	pointer-events: none;
	flex: 0 0 auto;
}

.sidebarFileListItemGuestBadgeTrigger {
	margin-left: 4px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	width: 14px;
	height: 14px;
	z-index: 3;
	padding: 0;
	background: none;
	pointer-events: all;
	cursor: pointer;
	color: var(--tla-color-text-1);
}
