# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
**/node_modules

.git
**/.git

dist
dist-cjs
dist-esm
.tsbuild*
.lazy
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# turborepo
.turbo

coverage

**/*.env
**/*.tsbuildinfo

**/*.css.map
**/*.js.map
apps/webdriver/www/index.js
apps/webdriver/www/index.css
apps/dotcom/*-worker/.dev.vars
nohup.out

packages/*/package
packages/*/*.tgz

tsconfig.build.json
.vercel

api-json
api-md

apps/webdriver/www
!apps/webdriver/www/index.html


packages/*/api
apps/examples/www/index.css
apps/examples/www/index.js
.tsbuild
