**/node_modules/*
**/out/*
**/dist/*
**/dist-cjs/*
**/dist-esm/*
**/.tsbuild*
**/.next/*
*.md
**/_archive/*
**/*.css.map
**/*.js.map
**/*.d.ts
**/*.test.ts
**/api/*
!**/pages/api/*
**/*.json
**/lazy.config.ts
**/next.config.js
**/setupTests.js
**/setupJest.js
