**/node_modules/*
**/out/*
**/dist/*
**/dist-cjs/*
**/dist-esm/*
**/.tsbuild*
**/.next/*
*.md
**/_archive/*
**/*.css.map
**/*.js.map
**/*.d.ts
**/api/*
!**/pages/api/*
**/*.json
**/lazy.config.ts
**/next.config.js
**/setupTests.js
**/setupJest.js
apps/vscode/extension/editor
apps/examples/www
apps/docs/api-content.json
apps/docs/content.json
apps/vscode/extension/editor/index.js
apps/vscode/extension/editor/tldraw-assets.json