node_modules/
build/
lib/
dist/
docs/
.idea/*

.DS_Store
coverage
*.log

.vercel
.next
apps/www/public/workbox-*
apps/www/public/worker-*
apps/www/public/sw.js
apps/www/public/sw.js.map
.env
firebase.config.*.turbo
.turbo
