# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-cjs
dist-esm
.tsbuild*
.lazy
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# turborepo
.turbo

coverage

**/*.env
**/*.tsbuildinfo

**/*.css.map
**/*.js.map
apps/examples/www/index.js
apps/examples/www/index.css
nohup.out

packages/*/package
packages/*/*.tgz

tsconfig.build.json
.vercel

api-json
api-md

packages/tldraw/tldraw.css

packages/assets/embed-icons
packages/assets/fonts
packages/assets/icons
packages/assets/translations
apps/examples/www/embed-icons
apps/examples/www/fonts
apps/examples/www/icons
apps/examples/www/translations

# yarn v2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/*/api/temp
packages/*/api/internal.d.ts
packages/*/api/public.d.ts

apps/examples/www/index.css
apps/examples/www/index.js
.tsbuild

apps/examples/build.esbuild.json

apps/examples/e2e/test-results
apps/examples/playwright-report

docs/gen