{
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": false,
  "printWidth": 100,
  "importOrder": ["^[~]", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
