{
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": false,
  "printWidth": 100,
  "importOrder": ["^[~]", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
