.tlaButton {
	font-family: var(--tla-font-ui);
	line-height: 1.3;
	gap: 8px;
}

:global(.tl-ui) .tlaButton:not([data-has-icon-right='true']) {
	padding-right: 12px;
}

:global(.tl-ui) .tlaButton[data-has-icon-right='true'] {
	padding-right: 32px;
}

.big {
	height: 36px;
	border-radius: var(--tl-radius-2);
}

.spinner {
	position: absolute;
	inset: 0;
	z-index: var(--tl-layer-above);
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

:global(.tl-ui) .tlaButton .spinner :global(.tl-button__spinner) {
	position: static;
	right: auto;
}

.iconRight {
	position: absolute;
	right: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

:global(.tl-ui) .iconRight :global(.tl-button__spinner) {
	position: static;
	right: auto;
}
