@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./demo.css');

html {
	scroll-padding-top: 72px;
}

@layer base {
	.prose h2 a,
	.prose h3 a,
	.prose h4 a {
		@apply font-bold;
	}
	.prose blockquote p {
		margin: 0;
	}
	.prose blockquote p:before,
	.prose blockquote p:after {
		content: none;
	}
	.prose details.article__table-of-contents {
		display: none !important;
	}
	.prose .hljs,
	.not-prose .hljs {
		background: transparent !important;
	}
	input[type='search']::-webkit-search-decoration,
	input[type='search']::-webkit-search-cancel-button,
	input[type='search']::-webkit-search-results-button,
	input[type='search']::-webkit-search-results-decoration {
		-webkit-appearance: none;
	}

	@media (max-width: 768px) {
		.prose table {
			table-layout: fixed;
		}

		.prose td {
			word-break: break-word;
		}
	}
}

.hs-form-field.hs-fieldtype-text label,
.hs-form-field.hs-fieldtype-select label,
.hs-form-field.hs-fieldtype-textarea label {
	display: none;
}

/* We don't show any descriptions or lables */
.hs-field-desc {
	display: none !important;
}

/* Make text areas span both columns */
div.hs-fieldtype-textarea {
	@apply sm:col-span-2;
}

[data-hs-forms-root] form {
	@apply flex flex-col sm:grid-cols-2 sm:grid gap-4;
}

[data-hs-forms-root] select {
	@apply w-full h-9 px-4 appearance-none rounded-lg text-white bg-zinc-700/50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 focus:ring-offset-zinc-900;
}
[data-hs-forms-root] select.is-placeholder {
	@apply text-white/50;
}

[data-hs-forms-root] input {
	@apply w-full h-9 px-4 rounded-lg text-white bg-zinc-700/50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 focus:ring-offset-zinc-900;
}

[data-hs-forms-root] textarea {
	@apply -mb-1.5 w-full px-4 py-2 rounded-lg resize-none text-white bg-zinc-700/50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 focus:ring-offset-zinc-900;
	height: 112px;
}

.hs-submit {
	@apply overflow-hidden items-center col-start-1 col-span-2 p-2;
}

.hs-submit input {
	@apply overflow-hidden items-center h-9 rounded-lg text-base !bg-blue-500 !text-white hover:!bg-blue-600 dark:hover:!bg-blue-400;
}

.hs_error_rollup {
	@apply flex items-center;
}

.masked-logo {
	position: relative;
	background-color: currentColor;
	z-index: 1;
	color: inherit;
}

mark {
	margin: 0 -0.4em;
	padding: 0.1em 0.4em;
	border-radius: 0.8em 0.3em;
	background: transparent;
	color: inherit;
	background-image: linear-gradient(
		to right,
		rgba(255, 230, 0, 0),
		rgba(255, 230, 0, 0) 1%,
		rgba(255, 230, 0, 0.6) 6%,
		rgba(255, 213, 0, 0.7) 88%,
		rgba(255, 213, 0, 0) 99%,
		rgba(255, 213, 0, 0)
	);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}
