@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./demo.css');

html {
	scroll-padding-top: 72px;
}

@layer base {
	.prose h2 a,
	.prose h3 a,
	.prose h4 a {
		@apply font-bold;
	}
	.prose blockquote p {
		margin: 0;
	}
	.prose blockquote p:before,
	.prose blockquote p:after {
		content: none;
	}
	.prose details.article__table-of-contents {
		display: none !important;
	}
	.prose .hljs,
	.not-prose .hljs {
		background: transparent !important;
	}
	input[type='search']::-webkit-search-decoration,
	input[type='search']::-webkit-search-cancel-button,
	input[type='search']::-webkit-search-results-button,
	input[type='search']::-webkit-search-results-decoration {
		-webkit-appearance: none;
	}

	@media (max-width: 768px) {
		.prose table {
			table-layout: fixed;
		}

		.prose td {
			word-break: break-word;
		}
	}
}

.hs-form-field.hs-fieldtype-text label,
.hs-form-field.hs-fieldtype-select label,
.hs-form-field.hs-fieldtype-textarea label {
	display: none;
}

.hs-field-desc {
	display: none !important;
}

#hsForm_b8b7b29f-3987-4c37-b64f-bffff5b3fd17 {
	@apply flex flex-col sm:grid-cols-2 sm:grid gap-4;
}

#hsForm_b8b7b29f-3987-4c37-b64f-bffff5b3fd17 select {
	@apply w-full h-9 px-4 appearance-none rounded-lg text-white bg-zinc-700/50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 focus:ring-offset-zinc-900;
}

#hsForm_b8b7b29f-3987-4c37-b64f-bffff5b3fd17 input {
	@apply w-full h-9 px-4 rounded-lg text-white bg-zinc-700/50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 focus:ring-offset-zinc-900;
}

#hsForm_b8b7b29f-3987-4c37-b64f-bffff5b3fd17 .hs_how_do_you_plan_to_use_tldraw_ {
	@apply sm:col-span-2;
}

#hsForm_b8b7b29f-3987-4c37-b64f-bffff5b3fd17 textarea {
	@apply sm:col-span-2  -mb-1.5 w-full px-4 py-2 rounded-lg resize-none text-white bg-zinc-700/50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 focus:ring-offset-zinc-900;
	height: 112px;
}

.hs-submit {
	@apply relative overflow-hidden flex justify-center items-center col-start-2 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 dark:focus:ring-offset-zinc-900 focus:ring-offset-zinc-900 h-9 px-4 gap-2.5 rounded-lg text-base bg-blue-500 text-white hover:bg-blue-600 dark:hover:bg-blue-400;
}

.hs-submit input {
	background-color: transparent !important;
}
