@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-padding-top: 72px;
}

@layer base {
	.prose h2 a,
	.prose h3 a,
	.prose h4 a {
		@apply font-bold;
	}
	.prose blockquote p {
		margin: 0;
	}
	.prose blockquote p:before,
	.prose blockquote p:after {
		content: none;
	}
	.prose details.article__table-of-contents {
		display: none !important;
	}
	.prose .hljs,
	.not-prose .hljs {
		background: transparent !important;
	}
	input[type='search']::-webkit-search-decoration,
	input[type='search']::-webkit-search-cancel-button,
	input[type='search']::-webkit-search-results-button,
	input[type='search']::-webkit-search-results-decoration {
		-webkit-appearance: none;
	}
}
