.shareMenu {
	min-width: 240px;
}

/* Copy button */

.copyButtonIcon {
	position: absolute;
	right: 10px;
}

/* QR Code */

.qrCode {
	position: relative;
	width: 216px;
	height: 100%;
	overflow: hidden;
	border-radius: 4px;
	padding: 8px;
	border: 1px solid var(--color-border);
	background-color: var(--color-panel);
}

.qrCodeInner {
	width: 100%;
	height: auto;
	border-radius: 3px;
	pointer-events: all;
}

.qrCodeInner[data-theme='dark'] {
	filter: invert(100%);
}

/* Export preview */

.exportPreview {
	position: relative;
	width: 216px;
	min-height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* https://css-tricks.com/background-patterns-simplified-by-conic-gradients/#checkerboard */
	padding: 6px;
	background: var(--color-low);
}

.exportPreviewInner {
	background: repeating-conic-gradient(#d8d8d8 0 25%, #fff 0 50%) 50% / 20px 20px;
	max-height: 208px;
	max-width: 100%;
	object-fit: contain;
	pointer-events: all;
	border: 1px solid var(--tla-color-border);
	box-sizing: content-box;
}

.exportPreviewInner[data-theme='dark'] {
	/* https://css-tricks.com/background-patterns-simplified-by-conic-gradients/#checkerboard */
	background: repeating-conic-gradient(#000000 0 25%, #535353 0 50%) 50% / 20px 20px;
}

.exportPreviewSize {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: var(--color-low);
	padding: 1px 4px;
	text-align: right;
}

/* Help state toggle */

.helpButton {
	all: unset;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--tla-color-text-3);
	cursor: pointer;
}

.helpButton[data-active='true'] {
	color: var(--tla-color-text-1);
}

@media (hover: hover) {
	.helpButton:hover {
		color: var(--tla-color-text-1);
	}
}

/* Help item */

.helpItem {
	position: relative;
	color: var(--tla-color-text-1);
	font-weight: 400;
	background-color: var(--tla-color-low);
	border: 1px solid var(--tla-color-border);
	border-radius: 6px;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	display: flex;
	flex-direction: column;
}

.helpItem p {
	margin: 0px;
	padding: 12px;
}
