@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('tldraw/tldraw.css');
@import url('./z-board.css');

/* NB: If we did position: fixed, Safari on iOS 18 and MacOS 15 would
 * have several rendering issues. This must stay position: absolute. 
 */
.tldraw__editor {
	position: absolute;
	top: 10%;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
