.collaboratorSmall {
	/* margin-right: -12px; */
	width: 36px;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	background-color: var(--color-accent);
	border: 2px solid var(--tla-color-panel);
}

.collaboratorMedium {
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background-color: var(--color-accent);
	border: 2px solid var(--tla-color-panel);
}

.collaboratorLarge {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: var(--color-accent);
	border: 2px solid var(--tla-color-panel);
}

.idle {
	background-color: var(--color-text-3);
}
