@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	min-height: 100vh;
	background: white;
	font-family:
		'Inter',
		-apple-system,
		'Helvetica Neue',
		Helvetica,
		Arial,
		sans-serif;
	line-height: 1.3;
	font-weight: 500;
	font-size: 24px;
	overflow: hidden;
}

:root {
	--tl-color-primary: hsl(214, 84%, 56%);
	--tl-color-success: hsl(123, 46%, 34%);
	--tl-color-info: hsl(201, 98%, 41%);
	--tl-color-warning: hsl(27, 98%, 47%);
	--tl-color-danger: hsl(0, 90%, 43%);
	--tl-color-laser: hsl(0, 100%, 50%);
}

/* --- Base slide --- */

.slide {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px 120px;
	position: absolute;
	inset: 0px;
	overflow: hidden;
}

.slide_light {
	--tl-color-text: black;
	--tl-color-text-light: #32353c;
	--tl-color-background: white;
	background: var(--tl-color-background);
	color: var(--tl-color-text);
}

.slide_dark {
	--tl-color-text: white;
	--tl-color-text-light: #656d76;
	--tl-color-background: black;
	background: var(--tl-color-background);
	color: var(--tl-color-text);
}

/* --- Text slide --- */

.text-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5em;
}

.text-slide h1 {
	font-size: 2em;
	font-weight: 700;
}

.text-slide h2 {
	font-size: 1.5em;
	font-weight: 400;
	color: var(--tl-color-text-light);
	line-height: 1.5;
	text-align: left;
	max-width: 82%;
	text-wrap: balance;
}

/* --- Intro/outro card --- */

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 3em;
}

.card .logo {
	height: 3em;
}

.card .title {
	font-size: 1.75em;
	color: var(--tl-color-text);
	text-align: center;
	text-wrap: balance;
	min-width: 80%;
	line-height: 1.5;
}

.card .date {
	font-size: 1em;
	color: var(--tl-color-text-light);
	text-align: center;
	margin-bottom: 24px;
}

/* --- List slide --- */

.list-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 32px;
}

.list-slide h1 {
	font-size: 2em;
	font-weight: 700;
}

.list-slide .items {
	text-align: left;
	margin-top: 0.5em;
}

.list-slide .item {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0 0.5em;
	font-size: 1.75em;
	line-height: 2.2;
	color: var(--tl-color-text-light);
}

.list-slide .item .num {
	color: var(--tl-color-primary);
	font-weight: 700;
}

.list-slide .item .detail {
	grid-column: 2;
	color: var(--tl-color-text-light);
	font-size: 0.7em;
	line-height: 1.4;
	margin-bottom: 0.5em;
}
