:global(.tl-ui) .ctaButton {
	position: relative;
	margin-left: 2px;
	margin-right: 0px;
	background-color: transparent;
}

:global(.tl-ui) .ctaButton > * {
	position: relative;
	z-index: 3;
}

:global(.tl-ui) .ctaButton::before {
	display: block;
	content: '';
	position: absolute;
	inset: 0px;
	z-index: 2;
	color: var(--tl-color-selected-contrast);
	background-color: var(--tl-color-primary);
	border-radius: 6px;
}

:global(.tl-ui) .ctaButtonCanvas::before {
	inset: 2px;
}

:global(.tl-ui) .ctaButtonCanvas::after {
	display: block;
	content: '';
	position: absolute;
	inset: 0px;
	z-index: 1;
	border-radius: 8px;
	background-color: var(--tl-color-background);
	opacity: 1;
}

:global(.tl-ui) .ctaButtonSecondary {
	color: var(--tl-color-text-0);
}

:global(.tl-ui) .ctaButtonSecondary::after {
	inset: 0px;
	border-radius: 8px;
}

:global(.tl-ui) .ctaButtonSecondary::before {
	background-color: var(--tl-color-muted-2);
	border: 1px solid var(--tl-color-muted-1);
}

@media (hover: hover) {
	:global(.tl-ui) .ctaButton:not(:disabled):hover::before {
		background-color: var(--tl-color-primary-hover);
	}

	:global(.tl-ui) .ctaButtonSecondary:not(:disabled):hover::before {
		background-color: var(--tl-color-muted-1);
	}
}
