@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
	--gray-light: #f5f5f5;
	--gray-dark: #e8e8e8;
	--black-transparent-light: rgba(0, 0, 0, 0.3);
	--black-transparent-dark: rgba(0, 0, 0, 0.5);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	min-height: 100vh;
	font-size: 16px;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
	height: 100%;
}
@media screen and (max-width: 600px) {
	html,
	body {
		font-size: 14px;
	}
}

html,
* {
	box-sizing: border-box;
}

.tldraw__editor {
	position: absolute;
	inset: 0px;
	overflow: hidden;
	overscroll-behavior: none;
	touch-action: none;
	width: 100%;
	height: 100%;
}

.examples {
	padding: 1.5rem;
	max-width: 1080px;
	margin: 0 auto;
}

.examples hr {
	border: none;
	border-top: 1px solid var(--gray-dark);
	margin: 0;
}

.examples__header {
	padding-bottom: 2rem;
	display: flex;
	align-items: center;
}
@media screen and (max-width: 500px) {
	.examples__header {
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 1rem;
	}
}
.examples__title {
	display: flex;
	align-items: center;
	margin-right: auto;
	font-size: 1.45rem;
}
.examples__lockup {
	height: 1.875rem;
	width: auto;
	margin-right: 0.5rem;
}

.examples__list {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding: 0;
	margin: 0 -1.5rem 0 -1.5rem;
}

@media screen and (max-width: 800px) {
	.examples__list {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.examples__list {
		grid-template-columns: repeat(1, 1fr);
	}
}

.accordion__trigger {
	border: none;
	background: none;
	cursor: pointer;
	width: 100%;
	text-align: left;
	font-size: 10px;
}

.accordion__trigger__chevron {
	color: var(--black-transparent-light);
	transition: transform 300ms;
}

.accordion__trigger[data-state='closed'] > div > .accordion__trigger__chevron {
	transform: rotate(-90deg);
}

.accordion__trigger__heading {
	font-size: 14px;
	font-weight: 500;
	color: var(--black-transparent-dark);
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.accordion__content {
	display: flex;
	flex-direction: row;
}
.accordion__content__separator {
	border-right: 1px solid var(--gray-dark);
	opacity: 0.5;
	padding-right: 1.5rem;
}

.accordion__content__examples {
	width: 100%;
}

.examples__list__item {
	overflow: hidden;
	position: relative;
	padding: 1.5rem;
	display: block;
	width: 100%;
}

.examples__list__item__link {
	position: absolute;
	inset: 0;
	z-index: 1;
	cursor: pointer;
}

.examples__list__item__active {
	padding: 1.5rem;
	text-decoration: none;
	color: inherit;
	position: relative;
	width: 100%;
}

.examples__list__item::before {
	content: ' ';
	position: absolute;
	inset: 0.5rem;
	border-radius: 6px;
	background: var(--gray-light);
	z-index: -1;
	opacity: 0;
	transition: opacity 0.12s ease-in-out;
}
.examples__list__item__active::before {
	opacity: 1;
}
@media screen and (pointer: fine) {
	.examples__list__item:hover::before {
		opacity: 1;
	}
}

.examples__list__item__heading {
	all: unset;
	font-weight: 700;
	font-size: 14px;
	margin-top: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.examples__list__item__details {
	position: absolute;
	left: 1rem;
	right: 1rem;
	opacity: 0;
	transition: opacity 0.12s ease-in-out;
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.examples__list__item__active .examples__list__item__details {
	position: static;
	opacity: 1;
	transition-delay: 0.1s;
}
.examples__list__item__standalone {
	color: inherit;
	opacity: 0.8;
	padding: 0.5rem;
	margin: -0.5rem;
	display: block;
	width: 16px;
	height: 16px;
	box-sizing: content-box;
}
.examples__list__item__code {
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.link__button {
	padding: 0.5rem 0.5rem;
	border-radius: 6px;
	background-color: hsl(214, 84%, 56%);
	display: flex;
	flex: 1 1 auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: none;
	box-shadow:
		0px 1px 2px rgba(0, 0, 0, 0.12),
		0px 1px 3px rgba(0, 0, 0, 0.04);
}

.link__button--grey {
	background-color: #f5f5f5;
	color: black;
	border: 1px solid #e8e8e8;
	font-size: 14px;
}

.example {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: stretch;
}
.example__info {
	width: 300px;
	position: relative;
	z-index: 1;
	border-right: 1px solid var(--gray-dark);
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: none;
}
@media screen and (max-width: 800px) {
	.example__info {
		display: none;
	}
}

.example__sidebar-header {
	display: flex;
	height: 44px;
	margin-bottom: 8px;
	padding-right: 8px;
	align-items: center;
}

.example__logo {
	all: unset;
	cursor: pointer;
	flex: none;
	font-size: 1.15rem;
	display: flex;
	align-items: center;
	justify-content: start;
	padding: calc(1rem - 0.5px) 1rem;
}
.example__logo .examples__lockup {
	height: 1.5rem;
}
.example__info__list {
	flex: auto;
	margin: 0;
	list-style: none;
	padding: 0;
	overflow: auto;
	position: relative;
	font-size: 13px;
}

.example__info__list .examples__list__item {
	padding: 0.75rem 1rem;
}
.example__info__list .examples__list__item::before {
	inset-block: 0.25rem;
	inset-inline: 0.5rem;
}

.example__content {
	flex: 1 1 auto;
	position: relative;
	z-index: 0;
	overflow: auto;
}

.examples__markdown p {
	all: unset;
	display: block;
}
.examples__markdown p:not(:last-child) {
	margin-bottom: 0.5rem;
}

.scroll-light {
	scrollbar-width: thin;
}
.scroll-light::-webkit-scrollbar {
	display: block;
	width: 8px;
	height: 8px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: inherit;
}
.scroll-light::-webkit-scrollbar-button {
	display: none;
	width: 0;
	height: 10px;
}
.scroll-light::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	width: 0;
	min-height: 36px;
	border: 2px solid transparent;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.25);
}
.scroll-light::-webkit-scrollbar-thumb:hover {
	background-color: var(--black-transparent-light);
}

.example__info__list hr {
	border: none;
	border-top: 1px solid var(--gray-dark);
	margin: 0;
}

.accordion__trigger__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: var(--black-transparent-dark);
}

.example__info__list__link {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 1rem;
	font-size: 13px;
	font-weight: 400;
	padding: 1rem;
	border-top: 1px solid #e8e8e8;
}

.example__info__list__socials {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-grow: 2;
}

.example__info__list__socials__button {
	color: black;
	height: 32px;
	width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	color: black;
	background-color: black;
}
