.dialogContainer {
	width: 350px;
	min-width: 350px;
	max-width: 100%;
}

.dialogBody {
	display: flex;
	flex-direction: column;
	gap: var(--tl-space-4);
	max-width: 500px;
}

/* ----------------- Feedback dialog ---------------- */

.feedbackDialogTextArea {
	border: 1px solid var(--tl-color-muted-2);
	border-radius: var(--tl-radius-2) var(--tl-radius-2) 0px var(--tl-radius-2);
	background-color: var(--tl-color-muted-0);
	color: var(--tl-color-text-0);
	padding: var(--tl-space-3) var(--tl-space-4);
	resize: vertical;
	width: 100%;
	min-height: 100px;
	max-height: 400px;
}

@supports (-webkit-touch-callout: none) {
	.feedbackDialogTextArea {
		font-size: 16px;
	}
}

.feedbackDialogTextArea::placeholder {
	color: var(--tl-color-text-3);
}

/* --------------------- Cookie --------------------- */

.cookieConsent {
	background: var(--tla-color-sidebar);
	border-radius: 8px;
	padding: 6px;
	max-width: 240px;
	box-shadow: var(--tla-shadow-3);
	margin-bottom: 4px;
	margin-right: 4px;
	transform: translate(0px, 100%);
	animation: slideUp 5s ease-in forwards;
	animation-delay: 2s;
}

@keyframes slideUp {
	0% {
		transform: translate(0px, 100%);
	}
	100% {
		transform: translate(0px, 0%);
	}
}

.cookieText {
	padding: 8px;
	padding-bottom: 12px;
	font-size: 12px;
	color: var(--tla-color-text-2);
	line-height: 1.4;
}

.cookieText a {
	color: var(--tla-color-primary);
}

.cookieButtonsRow {
	display: flex;
	gap: 4px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cookieButtons {
	display: flex;
	gap: 4px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cookieButton {
	background: none;
	position: relative;
	border: none;
	padding: 4px 8px;
	color: var(--tla-color-text-3);
	font-size: 12px;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 4px;
	flex-shrink: 0;
}

.cookieAcceptButton {
	color: var(--tla-color-contrast);
	background-color: var(--tla-color-text-1);
	overflow: hidden;
	position: relative;
}

.cookieAcceptButtonTextWrapper {
	overflow: hidden;
}

.cookieAcceptButtonText {
	display: inline-block;
	animation: marquee 3s linear infinite;
	white-space: nowrap;
}

@keyframes marquee {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

/* Respect user's motion preferences */
@media (prefers-reduced-motion: reduce) {
	.cookieConsent {
		animation: none;
		transform: translate(0px, 0%);
	}

	.cookieAcceptButtonText {
		animation: none;
		transform: translateX(0);
	}
}

@media (hover: hover) {
	.cookieAcceptButton:hover {
		color: var(--tla-color-contrast);
		background-color: var(--tla-color-text-1);
	}
}

.cookieConsentWrapper {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: var(--tl-layer-menus);
	width: fit-content;
}
