.dialogHeader {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.dialogBody {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 0 24px 24px;
	width: 300px;
}

.icon {
	height: 48px;
	width: 48px;
}

.message {
	font-size: 12px;
	text-align: center;
	padding-right: var(--tl-space-4);
	min-height: 20px;
	word-break: break-word;
	overflow-wrap: break-word;
}

.acceptButton {
	width: 100%;
	height: 32px;
	background-color: var(--tla-color-cta);
	color: white;
	border: none;
	border-radius: var(--tl-radius-1);
	font-weight: 500;
	cursor: pointer;
}

.acceptButton:hover:not(:disabled) {
	background-color: var(--tla-color-cta-hover);
}

.acceptButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.declineButton {
	background: none;
	border: none;
	color: var(--tl-color-text-3);
	cursor: pointer;
	padding: 8px;
	height: 32px;
}

.declineButton:hover {
	color: var(--tl-color-text-1);
}
