.dialogHeader {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.dialogBody {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 0 24px 24px;
	width: 300px;
}

.header {
	font-size: 16px;
	font-weight: 600;
	margin: 8px 0 0;
}

.message {
	font-size: 12px;
	color: var(--tl-color-text-3);
	margin: 0;
}

.okButton {
	margin-top: 8px;
	width: 100%;
	height: 32px;
	background-color: var(--tla-color-cta);
	color: var(--tla-color-contrast);
	border: none;
	border-radius: var(--tl-radius-1);
	font-weight: 500;
	cursor: pointer;
}

.okButton:hover {
	background-color: var(--tla-color-cta-hover);
}
