:root {
	box-sizing: border-box;
}

:root * {
	box-sizing: border-box;
}

/* Variables */
:root {
	/* Border radii */
	--tla-radius-1: 2px;
	--tla-radius-2: 4px;
	/* Fonts */
	--tla-font-ui: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tla {
	font-family: var(--tla-font-ui);
}

.tla-theme__light {
	--tla-color-sidebar: hsl(0, 0%, 99%);
	--tla-color-canvas: hsl(210, 20%, 98%);
	--tla-color-panel: hsl(0, 0%, 100%);
	--tla-color-text-1: hsl(204, 8%, 5%);
	--tla-color-text-2: hsl(204, 2%, 20%);
	--tla-color-text-3: hsl(204, 4%, 45%);
	--tla-color-contrast: hsl(0, 0%, 99%);
	--tla-color-low: hsl(204, 16%, 94%);
	--tla-color-border: hsl(204, 16%, 85%);
	--tla-color-hover-1: hsl(204, 16%, 4%, 3%);
	--tla-color-hover-2: hsl(204, 16%, 4%, 4.5%);
	--tla-color-hover-3: hsla(0, 0%, 100%, 32.5%);
	--tla-color-overlay: hsla(204, 16%, 5%, 1%);
	--tla-color-primary: hsl(214, 84%, 56%);
	--tla-color-secondary: hsl(0, 0%, 92%);
	--tla-color-secondary-border: hsl(0, 0%, 80%);
	--tla-color-accent-1: hsl(50, 91%, 70%);
	--tla-color-accent-2: hsl(28, 88%, 57%);
	--tla-color-accent-3: hsl(135, 59%, 49%);
	--tla-color-warning: hsl(0, 88%, 57%);
	/* Shadows */
	--tla-shadow-primary-highlight: inset 0px 4px 2px -4px hsl(214, 94%, 94%),
		inset 4px 4px 4px -6px hsl(214, 94%, 100%);
	--tla-shadow-1: 0px 1px 2px hsl(0, 0%, 0%, 25%), 0px 1px 3px hsl(0, 0%, 0%, 9%);
	--tla-shadow-2: 0px 0px 2px hsl(0, 0%, 0%, 16%), 0px 2px 3px hsl(0, 0%, 0%, 24%),
		0px 2px 6px hsl(0, 0%, 0%, 0.1), inset 0px 0px 0px 1px var(--tla-color-contrast);
	--tla-shadow-3: 0px 1px 2px hsl(0, 0%, 0%, 28%), 0px 2px 6px hsl(0, 0%, 0%, 14%),
		inset 0px 0px 0px 1px var(--tla-color-contrast);
	--tla-shadow-4: 0px 0px 3px hsl(0, 0%, 0%, 19%), 0px 5px 4px hsl(0, 0%, 0%, 16%),
		0px 2px 16px hsl(0, 0%, 0%, 6%), inset 0px 0px 0px 1px var(--tla-color-contrast);
}

.tla-theme__dark {
	--tla-color-sidebar: hsl(0, 0%, 5%);
	--tla-color-canvas: hsl(240, 5%, 6.5%);
	--tla-color-panel: hsl(240, 6%, 13%);
	--tla-color-text-1: hsl(204, 8%, 98%);
	--tla-color-text-2: hsl(204, 5%, 85%);
	--tla-color-text-3: hsl(204, 4%, 75%);
	--tla-color-contrast: hsl(0, 0%, 100%);
	--tla-color-low: hsl(240, 4%, 11%);
	--tla-color-border: hsl(240, 12%, 20%);
	--tla-color-hover-1: hsl(240, 8%, 100%, 3%);
	--tla-color-hover-2: hsl(240, 8%, 100%, 5%);
	--tla-color-hover-3: hsl(204, 16%, 4%, 3%);
	--tla-color-overlay: hsla(204, 16%, 5%, 1%);
	--tla-color-primary: hsl(214, 84%, 46%);
	--tla-color-secondary: hsl(0, 0%, 20%);
	--tla-color-secondary-border: hsl(0, 0%, 25%);
	--tla-color-accent-1: hsl(50, 91%, 60%);
	--tla-color-accent-2: hsl(28, 88%, 47%);
	--tla-color-accent-3: hsl(135, 59%, 39%);
	--tla-color-warning: hsl(0, 95%, 65%);
	/* Shadows */
	--tla-shadow-primary-highlight: inset 0px 1px 1px -1px hsl(214, 94%, 72%),
		inset 4px 4px 4px -6px hsl(214, 94%, 80%);
	--tla-shadow-1: 0px 1px 2px hsl(0, 0%, 0%, 16.1%), 0px 1px 3px hsl(0, 0%, 0%, 22%),
		inset 0px 0px 0px 1px var(--tla-color-panel);
	--tla-shadow-2: 0px 1px 3px hsla(0, 44%, 27%, 0.666), 0px 2px 6px hsl(0, 0%, 0%, 33%),
		inset 0px 0px 0px 1px var(--tla-color-panel);
	--tla-shadow-3: 0px 1px 3px hsl(0, 0%, 0%, 50%), 0px 2px 12px hsl(0, 0%, 0%, 50%),
		inset 0px 0px 0px 1px var(--tla-color-panel);
}

.tla .tl-container {
	font-family: var(--tla-font-ui);
	font-size: 12px;
	font-weight: 500;
}

/* ---------------------- Text ---------------------- */

.tla-text_ui__title {
	font-size: 14px;
	line-height: 1.3;
	font-weight: 600;
	font-family: var(--tla-font-ui);
	color: var(--tla-color-text-1);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla-text_ui__section {
	font-size: 12px;
	line-height: 1.3;
	font-weight: 500;
	font-family: var(--tla-font-ui);
	color: var(--tla-color-text-3);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla-text_ui__tiny {
	font-size: 6px;
	line-height: 1.3;
	font-weight: 800;
	font-family: var(--tla-font-ui);
	color: var(--tla-color-text-1);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla-text_ui__small {
	font-size: 11px;
	line-height: 1.3;
	font-weight: 500;
	font-family: var(--tla-font-ui);
	color: var(--tla-color-text-3);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla-text_ui__medium {
	font-size: 12px;
	line-height: 1.3;
	font-weight: 500;
	font-family: var(--tla-font-ui);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla-text_ui__regular {
	font-size: 14px;
	line-height: 1.3;
	font-weight: 500;
	font-family: var(--tla-font-ui);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla-text_ui__big {
	font-size: 24px;
	line-height: 1.3;
	font-family: var(--tla-font-ui);
	color: var(--tla-color-text-1);
	text-rendering: optimizeLegibility;
}

/* -------------------- Full page ------------------- 
Note: the three layers here (full, inner, content) are necessary if we
want centered content that docks to the top when the window is short 
*/

.tla-full {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: var(--tla-color-sidebar);
}

.tla-full_inner {
	width: 100%;
	max-height: 100vh;
	overflow-y: auto;
}

.tla-full_content {
	width: 100%;
	padding: 40px 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ---------------------- Auth ---------------------- */

.tla-auth_detail {
	text-align: center;
	color: var(--tla-color-text-3);
}

.tla-auth_detail button {
	background: none;
	border: none;
	display: inline;
	cursor: pointer;
	color: var(--tla-color-primary);
}

/* --------------------- Layout --------------------- */

.tla-layout {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.tla-content {
	position: relative;
	width: 100%;
	height: 100%;
	flex-grow: 2;
	background-color: var(--tla-color-canvas);
}

/* --------------------- Headers -------------------- */

.tla-file-header {
	height: 48px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 8px 0px 0px;
	position: relative;
}

.tla-file-header__fileinfo {
	position: absolute;
	top: calc(50% - 7px);
	left: 40px;
	right: 40px;
	text-align: center;
}

.tla-file-header__title {
	color: var(--tla-color-text-1);
}

.tla-file-header__folder {
	color: var(--tla-color-text-3);
}

.tla-file__content {
	display: flex;
	flex-direction: column;
	gap: 0px;
	min-height: 1px;
	background-color: var(--tla-color-sidebar);
}

.tla-file__wrapper {
	position: relative;
	flex-grow: 2;
	overflow: hidden;
	border-top: 1px solid var(--tla-color-border);
	background-color: var(--tla-color-canvas);
}

.tla-file__wrapper-sidebar {
	border-top-left-radius: 9px;
	border-left: 1px solid var(--tla-color-border);
}

.tla-file__wrapper > .tldraw__editor {
	width: 100%;
	height: 100%;
}

/* ---------------------- Error --------------------- */

.tla-error__page {
	position: relative;
	display: flex;
	padding: 48px 16px 16px 16px;
	width: 100%;
	max-width: 760px;
	height: 100%;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 2;
}

.tla-error__container {
	width: 100%;
	max-width: 320px;
	text-align: center;
	display: flex;
	flex-direction: column;
	pointer-events: all;
	gap: 20px;
}

.tla-error__link {
	color: var(--tla-color-primary);
}

/* --------------------- Sidebar -------------------- */

.tla-sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 260px;
	height: 100%;
	display: none;
	flex: 0 0 auto;
	padding: 2px 12px 2px 12px;
	background: var(--tla-color-sidebar);
}

.tla-sidebar__top,
.tla-sidebar__bottom {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
}

.tla-sidebar__content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 40px;
}

.tla-layout[data-sidebar='true'] .tla-sidebar {
	display: flex;
	flex-direction: column;
}

.tla-hoverable::after {
	display: block;
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	right: 0px;
	bottom: 2px;
	border-radius: 4px;
	background-color: var(--tla-color-hover-1);
	z-index: 0;
	pointer-events: none;
	visibility: hidden;
}

.tla-hoverable .tla-sidebar__link-menu[data-state='open']::after,
.tla-hoverable[data-active='true']::after {
	background-color: var(--tla-color-hover-2);
	visibility: visible;
}

@media (hover: hover) {
	.tla-hoverable:hover::after {
		visibility: visible;
	}
}

.tla-sidebar__toggle {
	position: relative;
	background: none;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: all;
}

.tla-sidebar__toggle::after {
	display: block;
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	border-radius: 4px;
	pointer-events: none;
	z-index: 0;
	visibility: hidden;
	background-color: var(--tla-color-hover-1);
}

@media (hover: hover) {
	.tla-sidebar__toggle:hover::after {
		visibility: visible;
	}
}

.tla-sidebar__create {
	background: none;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 2px;
	right: 8px;
	z-index: 10;
}

.tla-sidebar__create::after {
	display: block;
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	border-radius: 4px;
	pointer-events: none;
	z-index: 0;
	visibility: hidden;
	background-color: var(--tla-color-hover-1);
}

.tla-sidebar__create svg {
	width: 15px;
	height: 15px;
}

@media (hover: hover) {
	.tla-sidebar:hover .tla-sidebar__create:hover::after {
		visibility: visible;
	}
	/* 	
	.tla-sidebar:hover .tla-sidebar__create:hover {
		color: var(--tla-color-panel);
	}

	.tla-sidebar:hover .tla-sidebar__create:hover::after {
		visibility: visible;
		background-color: var(--tla-color-primary);
	} */
}

.tla-sidebar__label {
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 4px;
	position: relative;
	z-index: 1;
}

.tla-sidebar__user,
.tla-sidebar__workspace {
	background: none;
	border: none;
	position: relative;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tla-sidebar__main-link {
	position: relative;
	width: 100%;
	height: 40px;
	padding-right: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	color: var(--tla-color-text-2);
	flex: 0 0 auto;
}

.tla-sidebar__section_title {
	position: relative;
	width: 100%;
	height: 36px;
	padding: 0px 8px 0px 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	color: var(--tla-color-text-3);
}

.tla-sidebar__link {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	height: 36px;
	padding: 0px 8px 0px 8px;
}

.tla-sidebar__link-content {
	flex: 1 1 auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 4px;
	position: relative;
	z-index: 2;
}

@media (hover: hover) {
	.tla-hoverable {
		color: var(--tla-color-text-2);
	}
	.tla-hoverable[data-active='true'],
	.tla-hoverable:hover {
		color: var(--tla-color-text-1);
	}
}

.tla-sidebar__link-content > .tla-sidebar__label {
	padding: 0px;
	flex: 0 1 auto;
}

.tla-sidebar__link-button {
	background: none;
	border: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 2;
}

.tla-sidebar__link-menu {
	background: none;
	border: none;
	position: relative;
	outline: none;
	margin-right: -8px;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--tla-color-text-3);
	flex: 0 0 auto;
	z-index: 3;
	padding-right: 0px;
	cursor: pointer;
}

@media (hover: hover) {
	.tla-sidebar__link-menu {
		display: none;
	}

	.tla-sidebar__workspace:hover > .tla-sidebar__link-menu,
	.tla-sidebar__user:hover > .tla-sidebar__link-menu,
	.tla-sidebar__link .tla-sidebar__link-menu[data-state='open'],
	.tla-sidebar__link:hover > .tla-sidebar__link-menu {
		display: flex;
	}

	.tla-sidebar__link-menu:hover {
		color: var(--tla-color-text-1);
	}
}

/* ---------------------- Page ---------------------- */

.tla-page {
	padding: 40px 50px 90px 50px;
	overflow-y: auto;
	color: var(--tla-color-text-1);
	font-family: var(--tla-font-ui);
}

.tla-page__prose {
	padding: 40px 16px 90px 16px;
	max-width: 760px;
	margin: 0px auto;
}

.tla-page__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
}

.tla-page__create-button {
	height: 36px;
}

.tla-page__empty {
	height: 532px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--tla-color-text-3);
}

.tla-editor__overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: var(--tla-color-canvas);
	z-index: 1000;
	animation: fadeout 0.18s ease-in forwards;
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
