.tla {
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
}

.tla * {
	box-sizing: border-box;
}

/* Variables */
.tla {
	/* Border radii */
	--tla-radius-1: 2px;
	--tla-radius-2: 4px;
	/* Fonts */
	--tla-font-ui: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tla-theme__light {
	--tla-color-sidebar: hsl(0, 0%, 100%);
	--tla-color-canvas: hsl(210, 20%, 98%);
	--tla-color-panel: hsl(0, 0%, 100%);
	--tla-color-text-1: hsl(204, 8%, 5%);
	--tla-color-text-2: hsl(204, 2%, 20%);
	--tla-color-text-3: hsl(204, 4%, 45%);
	--tla-color-contrast: hsl(0, 0%, 100%);
	--tla-color-low: hsl(204, 16%, 94%);
	--tla-color-border: hsl(204, 16%, 85%);
	--tla-color-hover-1: hsl(204, 16%, 4%, 3%);
	--tla-color-hover-2: hsl(204, 16%, 4%, 4.5%);
	--tla-color-overlay: hsla(204, 16%, 5%, 1%);
	--tla-color-primary: hsl(214, 84%, 56%);
	--tla-color-secondary: rgb(234, 234, 234);
	--tla-color-accent-1: hsl(50, 91%, 70%);
	--tla-color-accent-2: hsl(28, 88%, 57%);
	--tla-color-accent-3: hsl(135, 59%, 49%);
	--tla-color-warning: hsl(0, 88%, 57%);
	/* Shadows */
	--tla-shadow-1: 0px 1px 2px hsl(0, 0%, 0%, 25%), 0px 1px 3px hsl(0, 0%, 0%, 9%);
	--tla-shadow-2: 0px 0px 2px hsl(0, 0%, 0%, 16%), 0px 2px 3px hsl(0, 0%, 0%, 24%),
		0px 2px 6px hsl(0, 0%, 0%, 0.1), inset 0px 0px 0px 1px var(--tla-color-contrast);
	--tla-shadow-3: 0px 1px 2px hsl(0, 0%, 0%, 28%), 0px 2px 6px hsl(0, 0%, 0%, 14%),
		inset 0px 0px 0px 1px var(--tla-color-contrast);
	--tla-shadow-4: 0px 0px 3px hsl(0, 0%, 0%, 19%), 0px 5px 4px hsl(0, 0%, 0%, 16%),
		0px 2px 16px hsl(0, 0%, 0%, 6%), inset 0px 0px 0px 1px var(--tla-color-contrast);
}

.tla-theme__dark {
	--tla-color-sidebar: hsl(0, 0%, 5%);
	--tla-color-canvas: hsl(240, 5%, 6.5%);
	--tla-color-panel: hsl(240, 6%, 13%);
	--tla-color-text-1: hsl(204, 8%, 98%);
	--tla-color-text-2: hsl(204, 5%, 85%);
	--tla-color-text-3: hsl(204, 4%, 75%);
	--tla-color-contrast: hsl(0, 0%, 100%);
	--tla-color-low: hsl(240, 4%, 11%);
	--tla-color-border: hsl(240, 12%, 20%);
	--tla-color-hover-1: hsl(240, 8%, 100%, 3%);
	--tla-color-hover-2: hsl(240, 8%, 100%, 5%);
	--tla-color-overlay: hsla(204, 16%, 5%, 1%);
	--tla-color-primary: hsl(214, 84%, 44%);
	--tla-color-secondary: hsl(0, 0%, 20%);
	--tla-color-accent-1: hsl(50, 91%, 60%);
	--tla-color-accent-2: hsl(28, 88%, 47%);
	--tla-color-accent-3: hsl(135, 59%, 39%);
	--tla-color-warning: hsl(0, 95%, 65%);
	/* Shadows */
	--tla-shadow-1: 0px 1px 2px hsl(0, 0%, 0%, 16.1%), 0px 1px 3px hsl(0, 0%, 0%, 22%),
		inset 0px 0px 0px 1px var(--tla-color-panel);
	--tla-shadow-2: 0px 1px 3px hsl(0, 0%, 0%, 66.6%), 0px 2px 6px hsl(0, 0%, 0%, 33%),
		inset 0px 0px 0px 1px var(--tla-color-panel);
	--tla-shadow-3: 0px 1px 3px hsl(0, 0%, 0%, 50%), 0px 2px 12px hsl(0, 0%, 0%, 50%),
		inset 0px 0px 0px 1px var(--tla-color-panel);
}

.tla .tl-container {
	font-family: var(--tla-font-ui);
	font-size: 12px;
	font-weight: 500;
}

/* --------------------- Spacers -------------------- */

.tla-spacer {
	flex: 0 0 auto;
}

.tla-height_full {
	height: 100%;
}

.tla-height_4 {
	height: 4px;
}

.tla-height_8 {
	height: 8px;
}

.tla-height_12 {
	height: 12px;
}

.tla-height_20 {
	height: 20px;
}

.tla-height_32 {
	height: 32px;
}

.tla-height_36 {
	height: 36px;
}

.tla-height_40 {
	height: 40px;
}

.tla-width_full {
	width: 100%;
}

.tla-width_4 {
	width: 4px;
}

.tla-width_8 {
	width: 8px;
}

.tla-width_12 {
	width: 12px;
}

.tla-width_20 {
	width: 20px;
}

.tla-width_32 {
	width: 32px;
}

.tla-width_36 {
	width: 36px;
}

.tla-height_40 {
	width: 40px;
}

/* ---------------------- Text ---------------------- */

.tla-text_ui__title {
	font-size: 14px;
	line-height: 1.3;
	font-weight: 600;
	font-family: var(--tla-font-ui);
	color: var(--tla-color-text-1);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla-text_ui__section {
	font-size: 12px;
	line-height: 1.3;
	font-weight: 500;
	font-family: var(--tla-font-ui);
	color: var(--tla-color-text-3);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla-text_ui__regular {
	font-size: 14px;
	line-height: 1.3;
	font-weight: 500;
	font-family: var(--tla-font-ui);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla-text_ui__small {
	font-size: 11px;
	line-height: 1.3;
	font-weight: 500;
	font-family: var(--tla-font-ui);
	color: var(--tla-color-text-3);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla-text_ui__tiny {
	font-size: 6px;
	line-height: 1.3;
	font-weight: 800;
	font-family: var(--tla-font-ui);
	color: var(--tla-color-text-1);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla-text_ui__medium {
	font-size: 12px;
	line-height: 1.3;
	font-weight: 500;
	font-family: var(--tla-font-ui);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla-text_ui__big {
	font-size: 24px;
	line-height: 1.3;
	font-family: var(--tla-font-ui);
	color: var(--tla-color-text-1);
	text-rendering: optimizeLegibility;
}

/* ---------------------- Icons --------------------- */

.tla-icon {
	position: relative;
	flex-shrink: 0;
	background-color: currentColor;
	height: 15px;
	width: 15px;
	z-index: 1;
}

.tla-icon_wrapper {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--tla-color-text-1);
	flex-shrink: 0;
}

.tla-icon_wrapper > .tla-icon {
	height: 15px;
	width: 15px;
}

.tla-icon_wrapper[data-size='m'] > .tla-icon {
	height: 20px;
	width: 20px;
}

/* --------------------- Buttons -------------------- */

.tla-icon_button {
	height: 40px;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.tla-button {
	position: relative;
	height: 40px;
	border: 1px solid transparent;
	padding: 0px 12px;
	background: none;
	outline: none;
	color: var(--tla-color-text-1);
	border-radius: var(--tla-radius-2);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: 8px;
}

.tla-button > .tla-button_spinner {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	height: 40px;
	width: 40px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: tla-spin 1.5s linear infinite;
}

.tla-spinner {
	color: var(--tla-color-text-3);
	animation: tla-spin 1.5s linear infinite;
}

@keyframes tla-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.tla-button__primary {
	background-color: var(--tla-color-primary);
	color: var(--tla-color-contrast);
}
.tla-button__primary[data-state='loading'] {
	color: var(--tla-color-primary);
}
.tla-button__primary[data-state='loading'] > .tla-button_spinner {
	color: var(--tla-color-contrast);
}

.tla-button__secondary {
	background-color: var(--tla-color-secondary);
	color: var(--tla-color-text-1);
}

.tla-button__warning {
	background-color: var(--tla-color-secondary);
	color: var(--tla-color-warning);
}

@media (hover: hover) {
	.tla-button:hover {
		border: 1px solid transparent;
	}
}

/* --------------------- Inputs --------------------- */

.tla-input {
	height: 40px;
	background-color: var(--tla-color-panel);
	color: var(--tla-color-text-1);
	border: 1px solid var(--tla-color-border);
	padding: 0px 12px;
	border-radius: var(--tla-radius-2);
	display: flex;
	align-items: center;
	justify-content: center;
}

.tla-input::placeholder {
	color: var(--tla-color-text-3);
}

.tla-input[type='text']:user-invalid,
.tla-input[type='password']:user-invalid {
	border: 1px solid var(--tla-color-warning);
	transition: border 0s;
	transition-delay: 0.25s;
}

/* ------------------ Checkbox row ------------------ */

.tla-checkbox {
	position: relative;
	cursor: pointer;
	height: 40px;
}

.tla-checkbox > .tla-label {
	position: absolute;
	top: 0px;
	left: 28px;
	width: calc(100% - 28px);
	height: 100%;
	z-index: 2;
	pointer-events: none;
}

.tla-input[type='checkbox'] {
	position: relative;
	width: 100%;
	height: 40px;
	border: none;
	padding: 0px;
}

.tla-input[type='checkbox']::after {
	content: '';
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: calc(50% - 10px);
	left: 0px;
	width: 20px;
	height: 20px;
	border: 1px solid var(--tla-color-border);
	border-radius: var(--tla-radius-1);
}

.tla-input[type='checkbox']:checked::after {
	content: '✔';
}

.tla-input[type='checkbox']:user-invalid::after {
	border: 1px solid var(--tla-color-warning);
	transition: border 0s;
	transition-delay: 0.25s;
}

/* -------------------- Dividers -------------------- */

.tla-divider {
	position: relative;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
}

.tla-divider::after {
	content: '';
	display: block;
	position: absolute;
	left: 0px;
	top: 50%;
	width: 100%;
	height: 1px;
	background-color: var(--tla-color-border);
}

.tla-divider span {
	position: relative;
	z-index: 1;
	color: var(--tla-color-text-3);
	background-color: var(--tla-color-panel);
	padding: 0px 12px;
}

/* --------------------- Labels --------------------- */

.tla-label {
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/* ------------------ Close button ------------------ */

.tla-close_button {
	background: none;
	border: none;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	display: flex;
	gap: 0px;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 0px 12px 0px 10px;
	gap: 10px;
	z-index: 10000;
}

.tla-close_button > span {
	position: relative;
	z-index: 2;
}

@media (hover: hover) {
	.tla-close_button:hover::after {
		display: block;
		content: '';
		position: absolute;
		top: 4px;
		left: 4px;
		right: 4px;
		bottom: 4px;
		border-radius: 4px;
		background-color: var(--tla-color-hover-1);
		z-index: 0;
		pointer-events: none;
	}
}

/* -------------------- Full page ------------------- 
Note: the three layers here (full, inner, content) are necessary if we
want centered content that docks to the top when the window is short 
*/

.tla-full {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: var(--tla-color-sidebar);
}

.tla-full_inner {
	width: 100%;
	max-height: 100vh;
	overflow-y: auto;
}

.tla-full_content {
	width: 100%;
	padding: 40px 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ---------------------- Auth ---------------------- */

.tla-auth_container {
	background: var(--tla-color-panel);
	border: var(--tla-color-border);
	width: 100%;
	max-width: 360px;
}

.tla-form {
	display: flex;
	flex-direction: column;
}

.tla-auth_container_title {
	height: 32px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tla-auth_container_title h1 {
	text-align: center;
}

.tla-auth_container > .tla-button,
.tla-auth_container > .tla-input {
	width: 100%;
}

.tla-auth_detail {
	text-align: center;
	color: var(--tla-color-text-3);
}

.tla-auth_detail button {
	background: none;
	border: none;
	display: inline;
	cursor: pointer;
	color: var(--tla-color-primary);
}

/* --------------------- Layout --------------------- */

.tla-layout {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.tla-content {
	position: relative;
	width: 100%;
	height: 100%;
	flex-grow: 2;
	background-color: var(--tla-color-canvas);
}

/* --------------------- Headers -------------------- */

.tla-file-header {
	height: 48px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 8px 0px 0px;
	position: relative;
}

.tla-file-header > .tla-button {
	height: 32px;
	font-size: 12px;
	font-weight: 600;
	color: var(--tla-color-contrast);
}

.tla-file-header__fileinfo {
	position: absolute;
	top: calc(50% - 7px);
	left: 40px;
	right: 40px;
	text-align: center;
}

.tla-file-header__title {
	color: var(--tla-color-text-1);
}

.tla-file-header__folder {
	color: var(--tla-color-text-3);
}

.tla-file__content {
	display: flex;
	flex-direction: column;
	gap: 0px;
	min-height: 1px;
	background-color: var(--tla-color-sidebar);
}

.tla-file__wrapper {
	position: relative;
	flex-grow: 2;
	overflow: hidden;
	border-top: 1px solid var(--tla-color-border);
	background-color: var(--tla-color-canvas);
}

.tla-file__wrapper > .tldraw__editor {
	width: 100%;
	height: 100%;
}

/* ---------------------- Error --------------------- */

.tla-error__page {
	position: relative;
	display: flex;
	padding: 48px 16px 16px 16px;
	width: 100%;
	max-width: 760px;
	height: 100%;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 2;
}

.tla-error__container {
	width: 100%;
	max-width: 320px;
	text-align: center;
	display: flex;
	flex-direction: column;
	pointer-events: all;
	gap: 20px;
}

.tla-error__link {
	color: var(--tla-color-primary);
}

/* --------------------- Sidebar -------------------- */

.tla-sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 260px;
	height: 100%;
	display: none;
	flex: 0 0 auto;
	padding: 8px 6px 2px 8px;
	background: var(--tla-color-sidebar);
}

.tla-spacer {
	flex: 1 1 auto;
}

.tla-sidebar__top,
.tla-sidebar__bottom {
	display: flex;
	flex-direction: row;
}

.tla-sidebar__content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 40px;
}

.tla-layout[data-sidebar='true'] .tla-sidebar {
	display: flex;
	flex-direction: column;
}

.tla-hoverable::after {
	display: block;
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	right: 0px;
	bottom: 2px;
	border-radius: 4px;
	background-color: var(--tla-color-hover-1);
	z-index: 0;
	pointer-events: none;
	visibility: hidden;
}

.tla-hoverable .tla-sidebar__link-menu[data-state='open']::after,
.tla-hoverable[data-active='true']::after {
	background-color: var(--tla-color-hover-2);
	visibility: visible;
}

@media (hover: hover) {
	.tla-hoverable:hover::after {
		visibility: visible;
	}
}

.tla-sidebar__toggle {
	margin-right: -6px;
	position: relative;
	background: none;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: all;
}

.tla-sidebar__toggle::after {
	display: block;
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	border-radius: 4px;
	pointer-events: none;
	z-index: 0;
	visibility: hidden;
	background-color: var(--tla-color-hover-1);
}

@media (hover: hover) {
	.tla-sidebar__toggle:hover::after {
		visibility: visible;
	}
}

.tla-sidebar__create {
	position: relative;
	background: none;
	border: none;
	cursor: pointer;
	pointer-events: all;
}

.tla-sidebar__create::after {
	display: block;
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	border-radius: 4px;
	pointer-events: none;
	z-index: 0;
	visibility: hidden;
	background-color: var(--tla-color-hover-1);
}

.tla-sidebar__create:hover::after {
	visibility: visible;
}

.tla-sidebar__label {
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 4px;
	position: relative;
	z-index: 1;
}

.tla-sidebar__user,
.tla-sidebar__workspace {
	background: none;
	border: none;
	position: relative;
	height: 40px;
	display: flex;
	flex: 2;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tla-sidebar__main-link {
	position: relative;
	width: 100%;
	height: 40px;
	padding-right: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	color: var(--tla-color-text-2);
	flex: 0 0 auto;
}

.tla-sidebar__section_title {
	position: relative;
	width: 100%;
	height: 36px;
	padding: 0px 8px 0px 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	color: var(--tla-color-text-3);
}

.tla-sidebar__link {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	height: 36px;
	padding: 0px 8px 0px 8px;
}

.tla-sidebar__link-content {
	flex: 1 1 auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 4px;
	position: relative;
	z-index: 2;
}

@media (hover: hover) {
	.tla-hoverable {
		color: var(--tla-color-text-2);
	}
	.tla-hoverable[data-active='true'],
	.tla-hoverable:hover {
		color: var(--tla-color-text-1);
	}
}

.tla-collaborators {
	display: flex;
	flex-direction: row;
	padding-left: 6px;
	flex: 0 0 auto;
}

.tla-collaborators > .tla-collaborator:nth-of-type(n + 1) {
	margin-left: -6px;
}

.tla-collaborator {
	width: 15px;
	height: 15px;
	background-color: var(--tla-color-accent-2);
	border: 2px solid var(--tla-color-panel);
	text-align: center;
	color: var(--tla-color-sidebar);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tla-sidebar__link-content > .tla-sidebar__label {
	padding: 0px;
	flex: 0 1 auto;
}

.tla-sidebar__link-button {
	background: none;
	border: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 2;
}

.tla-sidebar__link-menu {
	background: none;
	border: none;
	position: relative;
	outline: none;
	margin-right: -8px;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--tla-color-text-3);
	flex: 0 0 auto;
	z-index: 3;
	padding-right: 0px;
	cursor: pointer;
}

@media (hover: hover) {
	.tla-sidebar__link-menu {
		display: none;
	}

	.tla-sidebar__workspace:hover > .tla-sidebar__link-menu,
	.tla-sidebar__user:hover > .tla-sidebar__link-menu,
	.tla-sidebar__link .tla-sidebar__link-menu[data-state='open'],
	.tla-sidebar__link:hover > .tla-sidebar__link-menu {
		display: flex;
	}

	.tla-sidebar__link-menu:hover {
		color: var(--tla-color-text-1);
	}
}

/* --------------------- Avatar --------------------- */

.tla-avatar {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	overflow: hidden;
	background-color: var(--tla-color-accent-2);
	z-index: 2;
}

.tla-avatar[data-size='s'] {
	width: 16px;
	height: 16px;
}

.tla-avatar[data-size='m'] {
	width: 20px;
	height: 20px;
}

.tla-avatar[data-size='l'] {
	width: 32px;
	height: 32px;
}

/* ---------------------- Page ---------------------- */

.tla-page {
	padding: 40px 50px 90px 50px;
	overflow-y: auto;
	color: var(--tla-color-text-1);
	font-family: var(--tla-font-ui);
}

.tla-page__prose {
	padding: 40px 16px 90px 16px;
	max-width: 760px;
	margin: 0px auto;
}

.tla-page__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
}

.tla-page__create-button {
	height: 36px;
}

.tla-page__empty {
	height: 532px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--tla-color-text-3);
}

.tla-editor__overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: var(--tla-color-canvas);
	z-index: 1000;
	animation: fadeout 0.18s ease-in forwards;
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* ------------------- Logged out ------------------- */

.tla-logged-out {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0px 16px;
}

.tla-logged-out__header {
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px;
}

.tla-logged-out__editor-wrapper {
	position: relative;
	flex-grow: 2;
	border: 1px solid var(--tla-color-low);
	border-radius: 9px;
	overflow: hidden;
}

.tla-logged-out__footer {
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tla-logged-out__signin-button {
	height: 32px;
	font-weight: 600;
}

.tla-logged-out__footer a {
	color: var(--tla-color-primary);
}

/* --------------------- file navbar ------------------- */

.tla-file-navbar {
	pointer-events: all;
	border-radius: var(--radius-3);
	position: absolute;
	top: var(--space-3);
	left: var(--space-3);
	background-color: var(--color-background);
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	padding: 4px 0px 4px 0px;
}

.tla-sicko .tla-file-navbar {
	background-color: rgb(from var(--color-background) r g b / 85%);
	backdrop-filter: blur(5px);
}

.tla-file-navbar__breadcrumbs {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	padding: 0px 0px 0px 16px;
	font-size: 12px;
}

.tla-file-navbar__filename-button {
	outline: none;
	border: none;
	background: none;
	font-weight: 700;
	padding: 0;
	position: relative;
	height: 100%;
	margin-right: -5px;
}

.tla * * * {
	--shadow-3: 0px 1px 2px hsl(0, 0%, 0%, 10%), 0px 2px 6px hsl(0, 0%, 0%, 6%),
		inset 0px 0px 0px 1px var(--color-panel-contrast);

	--shadow-2: 0px 1px 2px hsl(0, 0%, 0%, 10%), 0px 2px 6px hsl(0, 0%, 0%, 6%),
		inset 0px 0px 0px 1px var(--color-panel-contrast);
}

.tla-sicko .tlui-style-panel__wrapper {
	background-color: rgb(from var(--color-background) r g b / 90%);
	backdrop-filter: blur(5px);
	box-shadow: none;
}

.tla-sicko .tlui-style-panel__section:nth-of-type(n + 2):not(:last-child) {
	border-bottom: none;
}

.tla-sicko .tlui-style-panel__section__common:not(:only-child) {
	margin-bottom: 0px;
	border-bottom: none;
}

.tla .tlui-toolbar__extras__controls {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--color-background);
	border: none;
	margin: 0;
}

.tla .tla-sicko .tlui-toolbar__extras__controls {
	background-color: rgb(from var(--color-background) r g b / 85%);
	backdrop-filter: blur(5px);
}

.tla .tlui-toolbar__extras {
	top: 8px;
}
.tla .tla-sicko .tlui-toolbar__extras {
	top: 2px;
	height: 38px;
	overflow: hidden;
}

.tla .tla-sicko .tlui-toolbar__tools {
	background: rgb(from var(--color-background) r g b / 90%);
	backdrop-filter: blur(5px);
	box-shadow: none;
}

.tla .tlui-navigation-panel {
	left: calc(var(--space-3) + var(--sab));
	bottom: calc(var(--space-3) + var(--sab));
	background-color: var(--color-background);
	border-radius: var(--radius-3);
}

.tla .tla-sicko .tlui-navigation-panel {
	background-color: rgb(from var(--color-background) r g b / 90%);
	backdrop-filter: blur(5px);
}

.tla .tlui-navigation-panel::before {
	display: none;
}

.tla .tl-watermark_SEE-LICENSE > a {
	opacity: 0.23;
}

.tla-sicko .tlui-share-zone {
	padding: 8px 8px 20px;
}
