.section {
	display: flex;
	padding: 12px;
	flex-direction: column;
	gap: 12px;
}

.section:nth-of-type(n + 2) {
	border-top: 1px solid var(--tla-color-border);
}

.controlGroup {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.controlGroup + .controlGroup {
	margin-top: 12px;
}

.control {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 32px;
	gap: 8px;
}

.info {
	flex-grow: 2;
	width: 32px;
	color: var(--color-text-3);
}

.info::after {
	inset: 6px;
	border-radius: 100%;
}

@media (hover: hover) {
	.info:hover {
		color: var(--color-text-1);
	}
}

.label {
	color: var(--color-text-1);
}

.popover {
	padding: 40px 12px 12px 12px;
	min-width: 160px;
}

.label + .info {
	margin-left: -12px;
}

.popoverClose {
	position: absolute;
	top: 0px;
	right: 0px;
}

.detailCentered {
	text-align: center;
}
