.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	text-align: center;
	gap: var(--tl-space-6);
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
