.layout {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transition: padding-left 0.16s ease-in-out;
	background-color: var(--color-background);
}

@media (min-width: 768px) {
	.layout[data-sidebar='true'] {
		padding-left: 260px;
		transition: padding-left 0.22s ease-out;
	}
}
