.layout {
	--tla-sidebar-width: 260px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	/* disable transition while dragging */
	transition: padding-left 0.16s ease-in-out;
	background-color: var(--color-background);
}
.layout[data-resizing='true'] {
	pointer-events: none;
	transition: none !important;
}

@media (min-width: 768px) {
	.layout[data-sidebar='true'] {
		padding-left: var(--tla-sidebar-width);
		transition: padding-left 0.22s ease-out;
	}
}

.resizeHandle {
	height: 100%;
	position: absolute;
	top: 0;
	left: calc(var(--tla-sidebar-width) - 5px);
	width: 10px;
	cursor: col-resize;
	z-index: 250;
	justify-content: center;
	display: none;
}

@media (min-width: 768px) {
	.resizeHandle {
		display: flex;
	}
}

.resizeHandleIndicator {
	background-color: var(--tla-color-primary);
	height: 100%;
	width: 2px;
	opacity: 0;
}

.resizeHandle:hover .resizeHandleIndicator {
	animation: fadeIn 150ms 80ms forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
