@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
@import url('tldraw/tldraw.css');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	overscroll-behavior: none;
}

.tldraw-ai-container {
	position: fixed;
	inset: 0;
	display: grid;
	grid-template-columns: 1fr 350px;
}

.tldraw-canvas {
	width: 100%;
	height: 100%;
}

/* Chat Panel */

.chat-panel {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-size: 14px;
}

.chat-history {
	flex: 1;
	padding: 16px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.chat-input {
	padding: 8px;
}

.chat-input form {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.chat-input input[type='text'] {
	flex: 1;
	padding: 8px 12px;
	border: 1px solid hsl(0, 0%, 85%);
	border-radius: 4px;
	font-size: 14px;
	outline: none;
	width: 100%;
}

.chat-input input[type='text']:focus {
	border-color: hsl(214, 84%, 56%);
}

.chat-input button {
	width: 32px;
	height: 32px;
	align-self: flex-end;
	background: hsl(214, 84%, 56%);
	color: hsl(0, 0%, 100%);
	appearance: none;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	border-radius: 100%;
}

.chat-input button:hover {
	background: hsl(214, 84%, 50%);
}

.chat-input button:disabled {
	background: hsl(0, 0%, 85%);
	cursor: not-allowed;
}

.agent-action-message {
	display: flex;
	gap: 4px;
}

.user-chat-message {
	background-color: hsl(214, 84%, 56%);
	color: hsl(0, 0%, 100%);
	padding: 8px 12px;
	border-radius: 8px;
	max-width: 80%;
	margin-left: auto;
}

.chat-input-actions {
	display: flex;
	gap: 8px;
	width: 100%;
	justify-content: space-between;
}

.chat-header {
	display: flex;
	justify-content: flex-end;
}

.new-chat-button {
	width: 32px;
	height: 32px;
	font-size: 20px;
	align-self: flex-end;
	appearance: none;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	background: none;
	margin: 2px;
}

.new-chat-button:hover {
	background: hsl(0, 0%, 90%);
}

.agent-chat-message {
	background-color: hsl(0, 0%, 90%);
	color: hsl(0, 0%, 0%);
	padding: 8px 12px;
	border-radius: 8px;
	max-width: 80%;
}

.agent-raw-message {
	white-space: pre-wrap;
}

.agent-change-message-image {
	max-width: 100%;
	max-height: 100px;
	object-fit: contain;
}

.agent-change-message-placeholder {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.status-thinking-message {
	opacity: 0.8;
	/* background-color: hsl(0, 0%, 95%); */
	background-color: transparent;
}

.status-thinking-message-text {
	font-style: italic;
	color: hsl(0, 0%, 45%);
	margin: 0;
}
