.loggedOut {
	display: flex;
	flex-direction: column;
	position: absolute;
	inset: 0px;
	padding: 0px 16px;
}

.header {
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 12px;
}

.editorWrapper {
	position: relative;
	flex-grow: 2;
	border: 1px solid var(--tla-color-border);
	border-top-left-radius: 13px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	overflow: hidden;
}

.footer {
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0px 36px;
}

.footer > p > a {
	color: var(--tla-color-primary);
}
