.editor {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	background-color: var(--color-background);
}

.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: var(--color-background);
	z-index: 1000;
	opacity: 1;
	animation: fadeout 0.12s ease-in forwards;
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.editorWrapper {
	position: relative;
	flex-grow: 2;
	overflow: hidden;
	border-top: 1px solid var(--tla-color-border);
	background-color: var(--color-background);
}

.editorWrapper > .tldraw__editor {
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
	.editorWrapper[data-sidebar='true'] {
		border-top-left-radius: 9px;
		border-left: 1px solid var(--tla-color-border);
	}
}
