.editor {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	background-color: var(--tl-color-background);
}

.editorWrapper {
	position: relative;
	flex-grow: 2;
	overflow: hidden;
	border-top: 1px solid var(--tla-color-border);
	background-color: var(--tl-color-background);
}

.editorWrapper > .tldraw__editor {
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
	.editorWrapper[data-sidebar='true'] {
		border-top-left-radius: 9px;
		border-left: 1px solid var(--tla-color-border);
	}
}

.anonStylePanel {
	display: flex;
	flex-direction: row;
	position: relative;
	padding-top: 4px;
	align-items: flex-start;
}

.anonStylePanel > button:nth-of-type(1) {
	margin-top: 4px;
}
