/* ------------------- Menu Panel ------------------- */

.topPanelLeft {
	flex: 0 0 auto;
	border-top: 4px solid var(--color-background);
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	pointer-events: all;
	white-space: nowrap;
	background-color: var(--color-background);
	border-bottom-right-radius: 11px;
	padding-left: 2px;
	width: 100%;
	min-width: 0px;
	overflow: hidden;
	color: var(--color-text-1);
}

.topPanelLeftButtons {
	position: relative;
	flex-shrink: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	overflow: hidden;
	align-items: center;
	justify-content: flex-start;
}

@media (min-width: 768px) {
	.topPanelLeft {
		width: auto;
	}
	.topPanelLeftButtons {
		width: auto;
	}
}

.topPanelLeft > button:nth-last-of-type(1) {
	position: relative;
	flex-shrink: 0;
	z-index: 2;
}

.topPanelSeparator {
	color: var(--color-text-3);
	pointer-events: none;
	padding: 0px 4px;
}

.topPanelSeparator:nth-last-of-type(1) {
	margin-right: -4px;
}

.inputWrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	min-width: 0px;
	height: 40px;
	margin-left: -4px;
	margin-right: -4px;
	flex-shrink: 2;
}

.inputWrapper > * {
	width: 100%;
	overflow: hidden;
}

.nameWidthSetter {
	position: relative;
	z-index: 1;
	width: fit-content;
	max-width: 320px;
	min-width: 0px;
	white-space: no-wrap;
	text-overflow: ellipsis;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	padding: 0px 12px;
	font-weight: 800;
}

button.nameWidthSetter {
	background: none;
	border: none;
	padding: none;
	margin: none;
	opacity: 1;
	pointer-events: all;
	height: 100%;
	min-width: 0px;
	color: var(--color-text-1);
}

.inputWrapper > div:nth-of-type(1) {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.inputWrapper input {
	position: relative;
	padding: 0px 12px 1px 12px;
	height: 100%;
	font-weight: 800;
	color: var(--color-text-1);
}

.inputWrapper input:focus-visible {
	outline: 1px solid var(--color-primary);
	border-radius: 10px;
	outline-offset: -5px;
}

.inputWrapperEditable::after {
	display: block;
	content: '';
	position: absolute;
	inset: 4px;
	background-color: transparent;
	border-radius: var(--radius-2);
}

.inputWrapperEditable button {
	cursor: pointer;
}

@media (hover: hover) {
	.inputWrapperEditable:hover:not(:focus-within)::after {
		background-color: var(--color-muted-2);
	}
}

/* .inputWrapper:focus-within::after {
	background-color: var(--color-muted-2);
} */

/* -------------------- Link Menu ------------------- */

.linkMenu {
	background: none;
	border: none;
	position: relative;
	outline: none;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-3);
	flex: 0 0 auto;
	z-index: 3;
	padding: 0px;
	cursor: pointer;
	margin-left: -4px;
}

.linkMenu::after {
	content: '';
	position: absolute;
	inset: 4px;
	border-radius: var(--radius-2);
}

@media (hover: hover) {
	.linkMenu:hover {
		color: var(--color-text-1);
	}

	.linkMenu:hover::after {
		background-color: var(--color-muted-2);
	}
}

.linkMenu[data-state='open']::after {
	background: linear-gradient(180deg, rgba(144, 144, 144, 0) 0%, var(--color-muted-2) 100%);
}

/* ------------------- Share panel ------------------ */

.topRightPanel {
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: all;
	padding-top: 4px;
	padding-right: 6px;
}

@media (max-width: 767px) {
	.topRightPanel {
		padding-right: 4px;
	}
}

.exportButton {
	background-color: var(--color-background);
	border-radius: var(--radius-3);
}

.brand {
	color: var(--tla-color-text-1);
	margin-top: -4px;
	padding: 4px 8px 4px 4px;
	height: 40px;
	display: flex;
	align-items: center;
}

.signInButtons {
	display: flex;
	gap: 0px;
	height: 40px;
	align-items: center;
	padding-right: 4px;
}

.hoverable::after {
	display: block;
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	right: 0px;
	bottom: 2px;
	border-radius: 4px;
	background-color: var(--tla-color-hover-1);
	z-index: 0;
	pointer-events: none;
	visibility: hidden;
}

.offlineIndicatorWrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	padding-top: 3px;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

@media (max-width: 1080px) {
	.offlineIndicatorWrapper {
		padding-top: 44px;
	}
}
