.icon {
	position: relative;
	flex-shrink: 0;
	background-color: currentColor;
	height: 15px;
	width: 15px;
	z-index: 1;
	pointer-events: none;
	color: inherit;
}

.icon_wrapper {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: inherit;
	flex-shrink: 0;
}

.icon_wrapper > .icon {
	height: 15px;
	width: 15px;
}

.icon_wrapper[data-size='m'] {
	width: 32px;
}

.icon_wrapper[data-size='m'] > .icon {
	height: 20px;
	width: 20px;
}
