.icon {
	display: flex;
	position: relative;
	flex-shrink: 0;
	background-color: currentColor;
	height: 15px;
	width: 15px;
	z-index: 1;
	pointer-events: none;
	color: inherit;
}

.inline {
	display: inline-flex;
}

.iconWrapper {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: inherit;
	flex-shrink: 0;
}

.iconWrapper > .icon {
	height: 15px;
	width: 15px;
}

.iconWrapper[data-size='m'] {
	width: 32px;
}

.iconWrapper[data-size='m'] > .icon {
	height: 20px;
	width: 20px;
}
