@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
/* Auth */

.tla {
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
	/* Border radii */
	--radius-1: 2px;
	--radius-2: 4px;
	/* Fonts */
	--font-ui: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tla * {
	box-sizing: border-box;
}

.tla .tl-container {
	font-family: var(--font-ui);
	font-size: 12px;
	font-weight: 500;
}

.tla_theme__light {
	--color-background: hsla(0, 0%, 100%, 1);
	--color-canvas: hsl(210, 20%, 98%);
	--color-panel: hsla(0, 0%, 100%, 1);
	--color-text-1: hsla(204, 8%, 5%, 1);
	--color-text-2: hsl(204, 4%, 45%);
	--color-text-primary: hsla(0, 0%, 100%, 1);
	--color-low: hsl(204, 16%, 94%);
	--color-border: hsl(204, 16%, 85%);
	--color-hover: hsl(204, 16%, 5%, 4.5%);
	--color-overlay: hsla(204, 16%, 5%, 1%);
	--color-primary: hsla(214, 84%, 56%, 1);
	--color-secondary: rgb(234, 234, 234);
	--color-accent-1: hsl(50, 91%, 70%);
	--color-accent-2: hsl(28, 88%, 57%);
	--color-accent-3: hsl(135, 59%, 49%);
	--color-warn: hsl(0, 88%, 57%);
}

.tla_theme__dark {
	--color-background: hsla(0, 0%, 0%, 1);
	--color-canvas: rgb(16, 16, 17);
	--color-panel: hsl(240, 6%, 13%);
	--color-text-1: hsla(204, 8%, 95%, 1);
	--color-text-2: hsl(204, 4%, 75%);
	--color-text-primary: hsla(0, 0%, 100%, 1);
	--color-low: hsl(240, 4%, 11%);
	--color-border: hsl(240, 12%, 20%);
	--color-hover: hsl(240, 8%, 10%, 100%);
	--color-overlay: hsla(204, 16%, 5%, 1%);
	--color-primary: hsla(214, 84%, 44%, 1);
	--color-secondary: hsl(0, 0%, 90%);
	--color-accent-1: hsl(50, 91%, 60%);
	--color-accent-2: hsl(28, 88%, 47%);
	--color-accent-3: hsl(135, 59%, 39%);
	--color-warn: hsl(0, 88%, 47%);
}

/* ------------------ Ui Overrides ------------------ */

.tla_layout__signedout .tlui-menu-zone {
	padding-left: 100px;
}

.tla_layout__signedin .tlui-menu-zone {
	padding-left: 36px;
}

.tla_layout__signedin .tla .tlui-focus-button {
	left: 36px;
}

/* ----------------- Sign in button ----------------- */

.tla_signin_button {
	position: absolute;
	top: 0px;
	left: 0px;
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-1);
}

/* --------------------- Spacers -------------------- */

.tla_spacer {
	flex: 0 0 auto;
}

.tla_height_full {
	height: 100%;
}

.tla_height_4 {
	height: 4px;
}

.tla_height_8 {
	height: 8px;
}

.tla_height_12 {
	height: 12px;
}

.tla_height_20 {
	height: 20px;
}

.tla_height_32 {
	height: 32px;
}

.tla_height_36 {
	height: 36px;
}

.tla_height_40 {
	height: 40px;
}

.tla_width_full {
	width: 100%;
}

.tla_width_4 {
	width: 4px;
}

.tla_width_8 {
	width: 8px;
}

.tla_width_12 {
	width: 12px;
}

.tla_width_20 {
	width: 20px;
}

.tla_width_32 {
	width: 32px;
}

.tla_width_36 {
	width: 36px;
}

.tla_height_40 {
	width: 40px;
}

/* ---------------------- Text ---------------------- */

.tla_text_ui__title {
	font-size: 14px;
	line-height: 1.3;
	font-weight: 600;
	font-family: var(--font-ui);
	color: var(--color-text-1);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla_text_ui__section {
	font-size: 12px;
	line-height: 1.3;
	font-weight: 500;
	font-family: var(--font-ui);
	color: var(--color-text-2);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla_text_ui__regular {
	font-size: 14px;
	line-height: 1.3;
	font-weight: 500;
	font-family: var(--font-ui);
	color: var(--color-text-1);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla_text_ui__small {
	font-size: 11px;
	line-height: 1.3;
	font-weight: 500;
	font-family: var(--font-ui);
	color: var(--color-text-2);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.tla_text_ui__big {
	font-size: 24px;
	line-height: 1.3;
	font-family: var(--font-ui);
	color: var(--color-text-1);
	text-rendering: optimizeLegibility;
}

/* ---------------------- Icons --------------------- */

.tla_icon {
	position: relative;
	flex-shrink: 0;
	background-color: currentColor;
	height: 15px;
	width: 15px;
	z-index: 1;
}

.tla_icon_wrapper {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-1);
	flex-shrink: 0;
}

.tla_icon_wrapper > .tla_icon {
	height: 15px;
	width: 15px;
}

.tla_icon_wrapper[data-size='m'] > .tla_icon {
	height: 20px;
	width: 20px;
}

/* --------------------- Buttons -------------------- */

.tla_icon_button {
	height: 40px;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.tla_button {
	position: relative;
	height: 40px;
	border: 1px solid transparent;
	padding: 0px 12px;
	color: var(--color-text-1);
	border-radius: var(--radius-2);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: 8px;
	/* box-shadow:
		inset 0 3px 1px -2px rgba(255, 255, 255, 0.32),
		inset 0 -3px 1px -2px rgba(0, 0, 0, 0.2),
		0px 3px 8px -2px rgba(0, 0, 0, 0.2); */
}

.tla_button > .tla_button_spinner {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	height: 40px;
	width: 40px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: tla_spin 1.5s linear infinite;
}

.tla_spinner {
	color: var(--color-text-2);
	animation: tla_spin 1.5s linear infinite;
}

@keyframes tla_spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.tla_button__primary {
	background-color: var(--color-primary);
	color: var(--color-text-primary);
}
.tla_button__primary[data-state='loading'] {
	color: var(--color-primary);
}
.tla_button__primary[data-state='loading'] > .tla_button_spinner {
	color: var(--color-text-primary);
}

.tla_button__secondary {
	background-color: var(--color-secondary);
	color: var(--color-text-1);
}

@media (hover: hover) {
	.tla_button:hover {
		border: 1px solid transparent;
	}
}

/* --------------------- Inputs --------------------- */

.tla_input {
	height: 40px;
	background-color: var(--color-panel);
	color: var(--color-text-1);
	border: 1px solid var(--color-border);
	padding: 0px 12px;
	border-radius: var(--radius-2);
	display: flex;
	align-items: center;
	justify-content: center;
}

.tla_input::placeholder {
	color: var(--color-text-2);
}

.tla_input[type='text']:user-invalid,
.tla_input[type='password']:user-invalid {
	border: 1px solid var(--color-warn);
	transition: border 0s;
	transition-delay: 0.25s;
}

/* ------------------ Checkbox row ------------------ */

.tla_checkbox {
	position: relative;
	cursor: pointer;
	height: 40px;
}

.tla_checkbox > .tla_label {
	position: absolute;
	top: 0px;
	left: 28px;
	width: calc(100% - 28px);
	height: 100%;
	z-index: 2;
	pointer-events: none;
}

.tla_input[type='checkbox'] {
	position: relative;
	width: 100%;
	height: 40px;
	border: none;
	padding: 0px;
}

.tla_input[type='checkbox']::after {
	content: '';
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: calc(50% - 10px);
	left: 0px;
	width: 20px;
	height: 20px;
	border: 1px solid var(--color-border);
	border-radius: var(--radius-1);
}

.tla_input[type='checkbox']:checked::after {
	content: '✔';
}

.tla_input[type='checkbox']:user-invalid::after {
	border: 1px solid var(--color-warn);
	transition: border 0s;
	transition-delay: 0.25s;
}

/* -------------------- Dividers -------------------- */

.tla_divider {
	position: relative;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
}

.tla_divider::after {
	content: '';
	display: block;
	position: absolute;
	left: 0px;
	top: 50%;
	width: 100%;
	height: 1px;
	background-color: var(--color-border);
}

.tla_divider span {
	position: relative;
	z-index: 1;
	color: var(--color-text-2);
	background-color: var(--color-panel);
	padding: 0px 12px;
}

/* --------------------- Labels --------------------- */

.tla_label {
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/* ------------------ Close button ------------------ */

.tla_close_button {
	background: none;
	border: none;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	display: flex;
	gap: 0px;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding-right: 12px;
}

@media (hover: hover) {
	.tla_close_button:hover::after {
		display: block;
		content: '';
		position: absolute;
		top: 4px;
		left: 4px;
		right: 4px;
		bottom: 4px;
		border-radius: 4px;
		background-color: var(--color-hover);
		z-index: 0;
		pointer-events: none;
	}
}

/* -------------------- Full page ------------------- 
Note: the three layers here (full, inner, content) are necessary if we
want centered content that docks to the top when the window is short 
*/

.tla_full {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: var(--color-background);
}

.tla_full_inner {
	width: 100%;
	max-height: 100vh;
	overflow-y: auto;
}

.tla_full_content {
	width: 100%;
	padding: 40px 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ---------------------- Auth ---------------------- */

.tla_auth_container {
	background: var(--color-panel);
	border: var(--color-border);
	width: 100%;
	max-width: 360px;
}

.tla_form {
	display: flex;
	flex-direction: column;
}

.tla_auth_container_title {
	height: 32px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tla_auth_container_title h1 {
	text-align: center;
}

.tla_auth_container > .tla_button,
.tla_auth_container > .tla_input {
	width: 100%;
}

.tla_auth_detail {
	text-align: center;
	color: var(--color-text-2);
}

.tla_auth_detail button {
	background: none;
	border: none;
	display: inline;
	cursor: pointer;
	color: var(--color-primary);
}

/* ----------------- Sidebar button ----------------- */

.tla_top-left-button {
	background: none;
	border: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	cursor: pointer;
	color: var(--color-text-1);
}

.tla_top-left-button::after {
	display: block;
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	border-radius: 4px;
	background-color: var(--color-hover);
	z-index: 0;
	pointer-events: none;
	visibility: hidden;
}

@media (hover: hover) {
	.tla_top-left-button:hover::after {
		visibility: visible;
	}
}

.tla_layout[data-sidebar='true'] .tla_top-left-button {
	left: 260px;
}

/* --------------------- Layout --------------------- */

.tla_layout {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.tla_content {
	position: relative;
	width: 100%;
	height: 100%;
	flex-grow: 2;
	background-color: var(--color-canvas);
}

/* --------------------- Sidebar -------------------- */

.tla_sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 260px;
	height: 100%;
	display: none;
	flex: 0 0 auto;
	padding: 0px 12px;
	background: var(--color-background);
	border-right: 1px solid var(--color-low);
}

.tla_sidebar__top,
.tla_sidebar__bottom {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
}

.tla_sidebar__content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 40px;
}

.tla_layout[data-sidebar='true'] .tla_sidebar {
	display: flex;
	flex-direction: column;
}

.tla_hoverable::after {
	display: block;
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	right: 0px;
	bottom: 2px;
	border-radius: 4px;
	background-color: var(--color-hover);
	z-index: 0;
	pointer-events: none;
	visibility: hidden;
}

.tla_hoverable[data-active='true']::after {
	visibility: visible;
}

@media (hover: hover) {
	.tla_hoverable:hover::after {
		visibility: visible;
	}
}

.tla_sidebar__create {
	background: none;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
}

.tla_sidebar__create::after {
	display: block;
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	border-radius: 4px;
	pointer-events: none;
	z-index: 0;
	visibility: hidden;
	background-color: var(--color-hover);
}

@media (hover: hover) {
	.tla_sidebar:hover .tla_sidebar__create:hover::after {
		visibility: visible;
	}
	/* 	
	.tla_sidebar:hover .tla_sidebar__create:hover {
		color: var(--color-panel);
	}

	.tla_sidebar:hover .tla_sidebar__create:hover::after {
		visibility: visible;
		background-color: var(--color-primary);
	} */
}

.tla_sidebar__label {
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 4px;
	position: relative;
	z-index: 1;
}

.tla_sidebar__user,
.tla_sidebar__workspace {
	background: none;
	border: none;
	position: relative;
	margin: 0px -8px;
	padding: 0px 8px;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tla_sidebar__main-link {
	position: relative;
	width: 100%;
	height: 40px;
	padding-right: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	flex: 0 0 auto;
}

.tla_sidebar__section_title {
	position: relative;
	width: 100%;
	height: 36px;
	padding: 0px 8px 0px 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	color: var(--color-text-2);
}

.tla_sidebar__section_link {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	height: 36px;
	padding: 0px 0px 0px 8px;
}

.tla_sidebar__link-button {
	background: none;
	border: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 2;
}

.tla_sidebar__link-menu {
	background: none;
	border: none;
	position: relative;
	right: -2px;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-2);
	flex: 0 0 auto;
	z-index: 3;
	cursor: pointer;
}

@media (hover: hover) {
	.tla_sidebar__link-menu {
		visibility: hidden;
	}

	.tla_sidebar__workspace:hover > .tla_sidebar__link-menu,
	.tla_sidebar__user:hover > .tla_sidebar__link-menu,
	.tla_sidebar__section_link:hover > .tla_sidebar__link-menu {
		visibility: visible;
	}

	.tla_sidebar__link-menu:hover {
		color: var(--color-text-1);
	}
}

/* ---------------------- Tabs ---------------------- */

.tla_sidebar__tabs {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

.tla_sidebar__tabs_tab {
	background: none;
	border: none;
	position: relative;
	cursor: pointer;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 8px;
	color: var(--color-text-2);
}

.tla_sidebar__tabs_tab::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0px;
	left: 8px;
	right: 8px;
	height: 2px;
	z-index: 3;
	background-color: var(--color-text-1);
	visibility: hidden;
}

.tla_sidebar__tabs_tab[data-active='true'] {
	color: var(--color-text-1);
}
.tla_sidebar__tabs_tab[data-active='true']::after {
	visibility: visible;
}

.tla_sidebar__line {
	position: absolute;
	bottom: 0px;
	left: 8px;
	right: 8px;
	height: 2px;
	background-color: var(--color-hover);
}

@media (hover: hover) {
	.tla_sidebar__tabs_tab:hover {
		color: var(--color-text-1);
	}
}

/* --------------------- Avatar --------------------- */

.tla_avatar {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	overflow: hidden;
	background-color: var(--color-accent-2);
}

.tla-avatar[data-size='s'] {
	width: 16px;
	height: 16px;
}

.tla-avatar[data-size='m'] {
	width: 20px;
	height: 20px;
}

.tla-avatar[data-size='l'] {
	width: 32px;
	height: 32px;
}

/* -------------------- List page ------------------- */

.tla_page {
	padding: 40px 50px 90px 50px;
	overflow-y: auto;
}

.tla_page__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
}

.tla_page__create-button {
	height: 36px;
}

.tla_page__empty {
	height: 532px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--color-text-2);
}

/* -------------------- Shared ------------------- */

.tla_page__item_title {
	flex: 0 0 auto;
}

/* .tla_page__item_details {} */

.tla_page__item_link {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2;
}

.tla_page__item_star,
.tla_page__item_menu {
	background: none;
	border: none;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
	z-index: 3;
	cursor: pointer;
	color: var(--color-text-2);
}

/* -------------------- List item ------------------- */

.tla_page__list {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
}

.tla_page__list_item {
	position: relative;
	margin: 0px -12px;
	z-index: 1;
}

.tla_page__list_item_content {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 2px;
	background-color: var(--color-panel);
	border: 1px solid var(--color-border);
	z-index: 1;
	/* box-shadow: inset 0px 0px 12px -8px var(--color-canvas); */
}

.tla_page__list_item::after {
	content: '';
	display: 'block';
	position: absolute;
	top: -6px;
	left: -6px;
	right: -6px;
	bottom: -6px;
	background-color: var(--color-hover);
	border-radius: 6px;
	visibility: hidden;
	pointer-events: none;
	z-index: 0;
}

.tla_page__list_item_left {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	gap: 8px;
	padding: 12px;
}

.tla_page__list_item_right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: 12px 4px 12px 0px;
}

.tla_page__list_item_thumbnail {
	width: 112px;
	height: 64px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	border-right: 1px solid var(--color-low);
}

/* -------------------- Grid item ------------------- */

.tla_page__grid {
	display: grid;
	width: 100%;
	height: fit-content;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 24px;
}

.tla_page__grid_item {
	position: relative;
	flex: 0 0 auto;
}

.tla_page__grid_item::after {
	content: '';
	display: 'block';
	position: absolute;
	top: -6px;
	right: -6px;
	bottom: -6px;
	left: -6px;
	background-color: var(--color-hover);
	border-radius: 6px;
	pointer-events: none;
	visibility: hidden;
	z-index: 1;
}

.tla_page__grid_item__content {
	display: flex;
	border-radius: 2px;
	border: 1px solid var(--color-border);
	flex-direction: column;
	position: relative;
	z-index: 2;
}

.tla_page__grid_item_top {
	position: relative;
	width: 100%;
	height: 200px;
	border-bottom: 1px solid var(--color-border);
	background-color: var(--color-panel);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	overflow: hidden;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tla_page__grid_item_thumbnail {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.tla_page__grid_item_bottom {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: var(--color-panel);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	padding: 12px;
	gap: 8px;
	z-index: 2;
}

.tla_page__grid_item > .tla_page__item_star {
	position: absolute;
	top: 0px;
	right: 0px;
}
.tla_page__grid_item > .tla_page__item_menu {
	position: absolute;
	top: 0px;
	right: 32px;
}

@media (hover: hover) {
	.tla_page__item_star,
	.tla_page__item_menu {
		visibility: hidden;
	}

	.tla_page__item_star[data-starred='true'] {
		visibility: visible;
	}

	.tla_page__list_item:hover .tla_page__item_menu,
	.tla_page__list_item:hover .tla_page__item_star,
	.tla_page__grid_item:hover .tla_page__item_menu,
	.tla_page__grid_item:hover .tla_page__item_star {
		visibility: visible;
	}

	.tla_page__item_star:hover,
	.tla_page__item_menu:hover {
		color: var(--color-text-1);
	}

	.tla_page__list_item:hover::after,
	.tla_page__grid_item:hover::after {
		visibility: visible;
	}
}

/* ------------------ Page controls ----------------- */

.tla_page_controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	margin: 0px -12px;
}

.tla_page_controls__right {
	align-items: center;
	display: flex;
	height: 100%;
}

.tla_page_controls__search,
.tla_page_controls__control {
	align-items: center;
	display: flex;
	position: relative;
	padding: 0px 12px;
	height: 100%;
	z-index: 1;
}

.tla_page_controls__search {
	max-width: 690px;
}

.tla_page_controls__search_clear {
	background: none;
	border: none;
	width: 36px;
	height: 36px;
	position: absolute;
	right: 4px;
	z-index: 2;
	color: var(--color-text-2);
}

@media (hover: hover) {
	.tla_page_controls__search_clear:hover {
		color: var(--color-text-1);
	}
}

.tla_page_controls__control_select {
	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.tla_page_controls__search::after,
.tla_page_controls__control::after {
	display: block;
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background-color: var(--color-hover);
	border-radius: 4px;
	z-index: 0;
	pointer-events: none;
	visibility: hidden;
}

.tla_page_controls__search:focus-within::after {
	visibility: visible;
}

@media (hover: hover) {
	.tla_page_controls__search:hover::after,
	.tla_page_controls__control:hover::after {
		visibility: visible;
	}
}

.tla_page_controls__search {
	display: flex;
	flex-grow: 1;
	align-items: center;
	position: relative;
	height: 100%;
}

.tla_page_controls__search_input {
	background: none;
	border: none;
	outline: none;
	width: 100%;
	height: 32px;
	border-radius: 4px;
	position: relative;
	z-index: 1;
}

.tla_page_controls__search_input::placeholder {
	color: var(--color-text-2);
}

.tla_page_controls__control_label {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	color: var(--color-text-2);
	pointer-events: none;
	position: relative;
	z-index: 1;
}

@media (hover: hover) {
	.tla_page_controls__search:hover > .tla_page_controls__search_input::placeholder {
		color: var(--color-text-1);
	}

	.tla_page_controls__control:hover > .tla_page_controls__control_label {
		color: var(--color-text-1);
	}
}
