/* Auth */

:root {
	/* Colors */
	--color-background: hsla(0, 0%, 100%, 1);
	--color-canvas: hsl(210, 20%, 98%);
	--color-panel: hsla(0, 0%, 100%, 1);
	--color-text-1: hsla(0, 0%, 0%, 1);
	--color-text-2: hsla(212, 9%, 43%, 1);
	--color-hover: hsla(0, 0%, 0%, 0.05);
	--color-primary: hsla(214, 84%, 56%, 1);
	--color-secondary: hsla(0, 0%, 95%, 1);
	--color-accent-1: hsl(50, 91%, 70%);
	--color-accent-2: hsl(28, 88%, 57%);
	--color-accent-3: hsl(135, 59%, 49%);
	--color-warn: hsl(0, 88%, 57%);
	--color-border: hsl(0, 0%, 80%);
	--color-overlay: hsla(0, 0%, 0%, 0.1);
	/* Spacing */
	/* Border radii */
	--radius-1: 2px;
	--radius-2: 4px;
}

button,
input,
textarea,
label,
br,
select {
	all: unset;
}

body,
body * {
	box-sizing: border-box;
}
/* 
.tla button {
	cursor: pointer;
}

.tla a {
	color: var(--color-primary);
	pointer-events: all;
} */

/* --------------------- Spacers -------------------- */

.tla_spacer {
	flex: 0 0 auto;
}

.tla_height_full {
	height: 100%;
}

.tla_height_4 {
	height: 4px;
}

.tla_height_8 {
	height: 8px;
}

.tla_height_12 {
	height: 12px;
}

.tla_height_20 {
	height: 20px;
}

.tla_height_32 {
	height: 32px;
}

.tla_height_36 {
	height: 36px;
}

.tla_height_40 {
	height: 40px;
}

.tla_width_full {
	width: 100%;
}

.tla_width_4 {
	width: 4px;
}

.tla_width_8 {
	width: 8px;
}

.tla_width_12 {
	width: 12px;
}

.tla_width_20 {
	width: 20px;
}

.tla_width_32 {
	width: 32px;
}

.tla_width_36 {
	width: 36px;
}

.tla_height_40 {
	width: 40px;
}

/* ---------------------- Text ---------------------- */

.tla_text_ui__title {
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
}

.tla_text_ui__regular {
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
}

.tla_text_ui__detail {
	font-size: 10px;
	line-height: 1;
	font-weight: 500;
}

.tla_text_ui__big {
	font-size: 24px;
	line-height: 32px;
}

/* ---------------------- Icons --------------------- */

.tla_icon {
	flex-shrink: 0;
	background-color: currentColor;
	height: 15px;
	width: 15px;
}

.tla_icon_wrapper {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-1);
	flex-shrink: 0;
}

.tla_icon_wrapper > .tla_icon {
	height: 15px;
	width: 15px;
}

.tla_icon_wrapper[data-size='m'] > .tla_icon {
	height: 20px;
	width: 20px;
}

/* --------------------- Buttons -------------------- */

.tla_icon_button {
	height: 40px;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 14px;
	font-family: 'Inter', sans-serif;
}

.tla_button {
	position: relative;
	height: 40px;
	border: 1px solid transparent;
	padding: 0px 12px;
	border-radius: var(--radius-2);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 14px;
	font-family: 'Inter', sans-serif;
	/* box-shadow:
		inset 0 3px 1px -2px rgba(255, 255, 255, 0.32),
		inset 0 -3px 1px -2px rgba(0, 0, 0, 0.2),
		0px 3px 8px -2px rgba(0, 0, 0, 0.2); */
}

.tla_button > .tla_button_spinner {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	height: 40px;
	width: 40px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: tla_spin 1.5s linear infinite;
}

@keyframes tla_spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.tla_button__primary {
	background-color: var(--color-primary);
	color: var(--color-panel);
}
.tla_button__primary[data-state='loading'] {
	color: var(--color-primary);
}
.tla_button__primary[data-state='loading'] > .tla_button_spinner {
	color: var(--color-panel);
}

.tla_button__secondary {
	background-color: var(--color-secondary);
	color: var(--color-text-1);
}

@media (hover: hover) {
	.tla_button:hover {
		border: 1px solid transparent;
	}
}

/* --------------------- Spinner -------------------- */

/* --------------------- Inputs --------------------- */

.tla_input {
	height: 40px;
	background-color: var(--color-panel);
	color: var(--color-text-1);
	border: 1px solid var(--color-border);
	padding: 0px 12px;
	border-radius: var(--radius-2);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-family: 'Inter', sans-serif;
}

.tla_input::placeholder {
	color: var(--color-text-2);
}

.tla_input[type='text']:user-invalid,
.tla_input[type='password']:user-invalid {
	border: 1px solid var(--color-warn);
	transition: border 0s;
	transition-delay: 0.25s;
}

/* ------------------ Checkbox row ------------------ */

.tla_checkbox {
	position: relative;
	cursor: pointer;
	height: 40px;
}

.tla_checkbox > .tla_label {
	position: absolute;
	top: 0px;
	left: 28px;
	width: calc(100% - 28px);
	height: 100%;
	z-index: 2;
	pointer-events: none;
}

.tla_input[type='checkbox'] {
	position: relative;
	width: 100%;
	height: 40px;
	border: none;
	padding: 0px;
}

.tla_input[type='checkbox']::after {
	content: '';
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: calc(50% - 10px);
	left: 0px;
	width: 20px;
	height: 20px;
	border: 1px solid var(--color-border);
	border-radius: var(--radius-1);
}

.tla_input[type='checkbox']:checked::after {
	content: '✔';
}

.tla_input[type='checkbox']:user-invalid::after {
	border: 1px solid var(--color-warn);
	transition: border 0s;
	transition-delay: 0.25s;
}

/* -------------------- Dividers -------------------- */

.tla_divider {
	position: relative;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
}

.tla_divider::after {
	content: '';
	display: block;
	position: absolute;
	left: 0px;
	top: 50%;
	width: 100%;
	height: 1px;
	background-color: var(--color-border);
}

.tla_divider span {
	position: relative;
	z-index: 1;
	color: var(--color-text-2);
	background-color: var(--color-panel);
	padding: 0px 12px;
}

/* --------------------- Labels --------------------- */

.tla_label {
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 14px;
	font-family: 'Inter', sans-serif;
}

/* ------------------ Close button ------------------ */

.tla_close_button {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	display: flex;
	gap: 0px;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding-right: 12px;
}

@media (hover: hover) {
	.tla_close_button:hover::after {
		display: block;
		content: '';
		position: absolute;
		top: 4px;
		left: 4px;
		right: 4px;
		bottom: 4px;
		border-radius: 4px;
		background-color: var(--color-hover);
		z-index: -1;
		pointer-events: none;
	}
}

/* -------------------- Full page ------------------- 
Note: the three layers here (full, inner, content) are necessary if we
want centered content that docks to the top when the window is short 
*/

.tla_full {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: var(--color-background);
}

.tla_full_inner {
	width: 100%;
	max-height: 100vh;
	overflow-y: auto;
}

.tla_full_content {
	width: 100%;
	padding: 40px 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ---------------------- Auth ---------------------- */

.tla_auth_container {
	background: var(--color-panel);
	border: var(--color-border);
	width: 100%;
	max-width: 360px;
}

.tla_form {
	display: flex;
	flex-direction: column;
}

.tla_auth_container_title {
	height: 32px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tla_auth_container_title h1 {
	text-align: center;
}

.tla_auth_container > .tla_button,
.tla_auth_container > .tla_input {
	width: 100%;
}

.tla_auth_detail {
	text-align: center;
	color: var(--color-text-2);
}

.tla_auth_detail button {
	display: inline;
	cursor: pointer;
	color: var(--color-primary);
}

/* ----------------- Sidebar button ----------------- */

.tla .tlui-menu-zone {
	padding-left: 40px;
}

.tla_sidebar_toggle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	cursor: pointer;
}

.tla_layout[data-sidebar='true'] .tla_sidebar_toggle {
	left: 260px;
}

/* --------------------- Layout --------------------- */

.tla_layout {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.tla_content {
	position: relative;
	width: 100%;
	height: 100%;
	flex-grow: 2;
	background-color: var(--color-canvas);
}

/* --------------------- Sidebar -------------------- */

.tla_sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 260px;
	height: 100%;
	display: none;
	flex: 0 0 auto;
	padding: 0px 12px;
	border-right: 1px solid var(--color-border);
}

.tla_sidebar__top,
.tla_sidebar__bottom {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	overflow: hidden;
}

.tla_sidebar__content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.tla_layout[data-sidebar='true'] .tla_sidebar {
	display: flex;
	flex-direction: column;
}

@media (hover: hover) {
	.tla_sidebar__hoverable:hover::after {
		display: block;
		content: '';
		position: absolute;
		top: 2px;
		left: 0px;
		right: 0px;
		bottom: 2px;
		border-radius: 4px;
		background-color: var(--color-hover);
		pointer-events: none;
	}
}

.tla_sidebar__create {
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
}

@media (hover: hover) {
	.tla_sidebar__create:hover::after {
		display: block;
		content: '';
		position: absolute;
		top: 4px;
		left: 4px;
		right: 4px;
		bottom: 4px;
		border-radius: 4px;
		background-color: var(--color-hover);
		pointer-events: none;
	}
}

.tla_sidebar__label {
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 4px;
}

.tla_sidebar__workspace {
	position: relative;
	width: calc(100% - 28px);
	height: 40px;
	padding-right: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tla_sidebar__user {
	position: relative;
	width: 100%;
	height: 40px;
	padding-right: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 0 0 auto;
}

.tla_sidebar__main-link {
	position: relative;
	width: 100%;
	height: 40px;
	padding-right: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Inter', sans-serif;
	overflow: hidden;
	flex: 0 0 auto;
}

.tla_sidebar__section_title {
	position: relative;
	width: 100%;
	height: 36px;
	padding: 0px 8px 0px 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 12px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
	overflow: hidden;
	color: var(--color-text-2);
}

.tla_sidebar__section_link {
	position: relative;
	width: 100%;
	height: 36px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Inter', sans-serif;
	overflow: hidden;
}

.tla_sidebar__section_link {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 36px;
	padding: 0px 0px 0px 8px;
}

.tla_sidebar__link-button {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 2;
}

.tla_sidebar__link-menu {
	position: relative;
	right: -2px;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-2);
	flex: 0 0 auto;
	z-index: 3;
	cursor: pointer;
}

@media (hover: hover) {
	.tla_sidebar__link-menu {
		visibility: hidden;
	}

	.tla_sidebar__workspace:hover > .tla_sidebar__link-menu,
	.tla_sidebar__user:hover > .tla_sidebar__link-menu,
	.tla_sidebar__section_link:hover > .tla_sidebar__link-menu {
		visibility: visible;
	}

	.tla_sidebar__link-menu:hover {
		color: var(--color-text-1);
	}
}

/* ---------------------- Tabs ---------------------- */

.tla_sidebar__tabs {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

.tla_sidebar__tabs_tab {
	position: relative;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 8px;
	font-family: 'Inter', sans-serif;
	color: var(--color-text-2);
}

.tla_sidebar__tabs_tab[data-active='true'] {
	color: var(--color-text-1);
}
.tla_sidebar__tabs_tab[data-active='true']::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0px;
	left: 8px;
	right: 8px;
	height: 2px;
	z-index: 2;
	background-color: var(--color-text-1);
}

.tla_sidebar__line {
	position: absolute;
	bottom: 0px;
	left: 8px;
	right: 8px;
	height: 2px;
	background-color: var(--color-hover);
}

@media (hover: hover) {
	.tla_sidebar__tabs_tab:hover {
		color: var(--color-text-1);
	}
}

/* --------------------- Avatar --------------------- */

.tla_avatar {
	position: relative;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	overflow: hidden;
	background-color: var(--color-secondary);
}

.tla-avatar[data-size='s'] {
	width: 16px;
	height: 16px;
}

.tla-avatar[data-size='m'] {
	width: 20px;
	height: 20px;
}

.tla-avatar[data-size='l'] {
	width: 32px;
	height: 32px;
}

/* -------------------- List page ------------------- */

.tla_page {
	padding: 40px 50px;
}

.tla_page__header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 40px;
}

.tla_page__controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 40px;
}

.tla_page__controls_display {
	display: flex;
}

.tla_page__controls_sort {
	display: flex;
}

.tla_page__controls_grid {
	display: flex;
}

.tla_page__grid {
	display: grid;
	width: 100%;
	height: fit-content;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 24px;
}

.tla_page__grid_item_thumbnail {
	position: relative;
	width: 100%;
	height: 100%;
	background: url('/thumbnail.png');
	border-radius: 4px;
}

.tla_page__list {
	display: flex;
	flex-direction: row;
}

/* -------------------- Grid item ------------------- */

.tla_page__grid_item {
	position: relative;
	background-color: var(--color-panel);
	border-radius: 4px;
	border: 1px solid var(--color-border);
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
}

.tla_page__grid_item_top {
	position: relative;
	width: 100%;
	height: 200px;
	border-bottom: 1px solid var(--color-border);
	z-index: 1;
}

.tla_page__grid_item_bottom {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 12px;
	gap: 8px;
}

.tla_page__grid_item_title {
	flex: 0 0 auto;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Inter', sans-serif;
	color: var(--color-text-1);
}

.tla_page__grid_item_details {
	font-size: 12px;
	font-weight: 500;
	font-family: 'Inter', sans-serif;
	color: var(--color-text-2);
}

.tla_page__grid_item_link {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2;
}

.tla_page__grid_item_menu {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-2);
	flex: 0 0 auto;
	z-index: 3;
	cursor: pointer;
}

@media (hover: hover) {
	.tla_page__grid_item_menu {
		visibility: hidden;
	}

	.tla_page__grid_item:hover .tla_page__grid_item_title {
		color: var(--color-primary);
	}

	.tla_page__grid_item:hover > .tla_page__grid_item_menu {
		visibility: visible;
	}

	.tla_page__grid_item_menu:hover {
		color: var(--color-text-1);
	}
}
