@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
@import url('tldraw/tldraw.css');

body {
	font-family: 'Inter', sans-serif;
	overscroll-behavior: none;
}

.tl-container {
	--node-shadows: 0 2px 6px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.04);
	--node-shadow-border:
		0 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.04);
	--node-shadow-highlight:
		0 0 0 calc(1.2px / var(--tl-zoom)) var(--color-selected), 0 2px 6px rgba(0, 0, 0, 0.08),
		0 1px 2px rgba(0, 0, 0, 0.04);
}

.NodeShape {
	border-radius: var(--radius-3);
	background: var(--color-panel);
	box-shadow: var(--node-shadow-border);
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	padding-bottom: var(--space-3);

	.NodeShape-heading {
		padding: 0 var(--space-4);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--space-4);
		height: 40px;
		margin-bottom: var(--space-2);
	}

	.NodeShape-label {
		flex: 1 1 auto;
		font-weight: 500;
	}

	.NodeShape-output {
		font-variant-numeric: tabular-nums;
	}

	&.NodeShape_executing {
		box-shadow:
			0 0 0 calc(2px / var(--tl-zoom)) var(--color-selected),
			0 2px 6px rgba(0, 0, 0, 0.08),
			0 1px 2px rgba(0, 0, 0, 0.04);
	}
}

.NodeBodyRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 44px;
	gap: var(--space-4);
	padding: var(--space-2) var(--space-4);

	input {
		align-self: stretch;
		flex: 1 1 auto;
		pointer-events: all;
		border: 1px solid var(--color-hint);
		padding: 0 var(--space-4);
		border-radius: var(--radius-3);
		background: none;
		font: inherit;
		outline: none;

		&:focus {
			border-color: var(--color-selected);
		}
	}

	.NodeBodyRow-buttons {
		display: none;
		position: absolute;
		right: 19px;

		button {
			margin-right: -8px;
			min-width: 38px;
			height: 38px;
		}
	}

	&:hover,
	&:has(input:focus) {
		.NodeBodyRow-buttons {
			display: flex;
		}
	}
}

.Port {
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: var(--color-panel);
	box-sizing: border-box;
	z-index: 2;
	box-shadow:
		0 0 0 1px rgba(0, 0, 0, 0.04),
		0 1px 3px rgba(0, 0, 0, 0.12);
	pointer-events: all;
	flex: 0 0 auto;
	transition: transform 0.05s ease-in-out;

	&.Port_hinting {
		background: var(--color-selected);
	}

	&.Port_end {
		left: -6px;
	}

	&.Port_start {
		right: -6px;
	}

	&.Port_eligible {
		box-shadow:
			0 0 0 calc(1px / var(--tl-zoom)) var(--color-selected),
			0 0 0 1px rgba(0, 0, 0, 0.04),
			0 1px 3px rgba(0, 0, 0, 0.12);
	}
}

.ConnectionShape {
	stroke-width: 2px;
	stroke: var(--color-text-3);
	fill: none;
}

.ConnectionShapeIndicator {
	stroke-width: 2.1px;
	stroke-linecap: round;
}

.ConnectionCenterHandle {
	.ConnectionCenterHandle-hover {
		pointer-events: all;
		cursor: pointer;
		stroke: none;
		fill: none;

		&:hover {
			fill: var(--color-selection-fill);
		}
	}

	.ConnectionCenterHandle-ring {
		stroke: none;
		fill: var(--color-selected);
	}

	.ConnectionCenterHandle-icon {
		stroke-width: 2px;
		stroke: var(--color-selected-contrast);
	}
}

.OnCanvasComponentPicker {
	position: absolute;
	top: 0;
	left: 0;
	z-index: var(--layer-overlays);
	--top: 66px;
	transform-origin: 0 0;

	.OnCanvasComponentPicker-content {
		position: absolute;
		margin-top: calc(-1 * var(--top));
		width: 180px;
		padding-top: 4px;
		border-radius: var(--radius-3);
		background: var(--color-panel);
		box-shadow: var(--node-shadow-highlight);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	button {
		height: auto;
		aspect-ratio: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.OnCanvasComponentPicker-icon {
		font-size: 36px;
	}

	&.OnCanvasComponentPicker_middle .OnCanvasComponentPicker-content {
		margin-left: -50%;
		margin-top: -50%;
	}
}

.WorkflowToolbar {
	justify-content: flex-start;
}

.WorkflowToolbar .tlui-toolbar__tools {
	transform: translateY(-50%);
	margin-left: 8px;
	padding-bottom: calc(var(--space-3) + var(--sab));
}
