.trigger {
	all: unset;
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	gap: 4px;
	justify-content: flex-end;
	cursor: pointer;
}

.wrapper {
	position: relative;
}

/* need to target the parent div, ugh, can't target via a className */
div:has(> .content) {
	position: absolute !important;
	top: 12px;
	right: 0;
	left: auto !important;
	z-index: 2 !important;
}

.content {
	border-radius: var(--radius-3);
	background-color: var(--color-panel);
	box-shadow: var(--shadow-3);
}

.option {
	display: flex;
	align-items: center;
	padding: 8px 8px 8px 12px;
	gap: 4px;
	cursor: pointer;
}

:global(.tl-container__focused:not(.tl-container__no-focus-ring)) .option:focus-visible {
	border-radius: 10px;
	outline: 2px solid var(--color-focus);
	outline-offset: -5px;
}

@media (hover: hover) {
	.trigger[data-disabled='false']:hover > .label::after {
		visibility: visible;
	}
}

.select:disabled {
	cursor: default;
}

.trigger[data-disabled] .label {
	color: var(--tla-color-text-3);
}

.trigger[data-disabled] .chevron {
	display: none;
}

[data-radix-focus-guard] {
	inset: 0;
}
