.trigger {
	all: unset;
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: flex-end;
}

/* need to target the parent div, ugh, can't target via a className */
div:has(> .content) {
	/* right: 0; */
	z-index: 2 !important;
}

.content {
	border-radius: var(--radius-3);
	background-color: var(--color-panel);
	box-shadow: var(--shadow-3);
}

.label {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 4px;
	text-align: right;
	pointer-events: none;
	z-index: 2;
}

.label::after {
	display: block;
	content: '';
	position: absolute;
	inset: -4px -4px -4px -8px;
	background-color: var(--tla-color-hover-1);
	border-radius: 4px;
	pointer-events: none;
	visibility: hidden;
}

.option {
	display: flex;
	align-items: center;
	padding: 8px;
}

@media (hover: hover) {
	.trigger[data-disabled='false']:hover > .label::after {
		visibility: visible;
	}
}

.select:disabled {
	cursor: default;
}

.trigger[data-disabled='true'] .label {
	color: var(--tla-color-text-3);
}

.trigger[data-disabled='true'] .chevron {
	display: none;
}

[data-radix-focus-guard] {
	inset: 0;
}