name: Trigger sdk hotfix

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  trigger:
    name: Trigger an SDK hotfix
    runs-on: ubuntu-latest
    concurrency: npm-publish

    steps:
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.HUPPY_APP_ID }}
          private-key: ${{ secrets.HUPPY_PRIVATE_KEY }}

      - uses: actions/checkout@v3
        with:
          token: ${{ steps.generate_token.outputs.token }}
          ref: refs/heads/production
          fetch-depth: 0

      - name: Get Pull Request Number
        id: pr
        run: echo "::set-output name=pull_request_number::$(gh pr view --json number -q .number || echo "")"
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}

      - name: Maybe trigger docs hotfix
        run: |
          set -e
          git config --global user.name 'huppy-bot[bot]'
          git config --global user.email '128400622+huppy-bot[bot]@users.noreply.github.com'
          yarn trigger-sdk-hotfix
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          PR_NUMBER: ${{ steps.pr.outputs.pull_request_number }}
          TLDRAW_BEMO_URL: https://demo.tldraw.xyz
          DISCORD_DEPLOY_WEBHOOK_URL: ${{ secrets.DISCORD_DEPLOY_WEBHOOK_URL }}
